//
// Dakara Project
//
// Tokens settings style file
//

@use '~/abstracts/controls';
@use '~/abstracts/sizes';

#tokens {
  .token-box {
    .token-player-enter {
      // approximate min and max height
      height: calc(2em + sizes.$row-height + sizes.$gap-vertical);
      overflow-y: hidden;

      &.token-player-enter-active {
        height: 2 * sizes.$row-height + 2 * sizes.$gap-vertical;
        transition: height 300ms ease-out;
      }
    }

    .token-player-exit {
      // approximate min and max height
      height: 2 * sizes.$row-height + 2 * sizes.$gap-vertical;
      overflow-y: hidden;

      &.token-player-exit-active {
        height: calc(2em + sizes.$row-height + sizes.$gap-vertical);
        transition: height 150ms ease-out;
      }
    }
  }
}
