//
// Dakara Project
//
// Tokens settings style file
//

@use '~/abstracts/controls';
@use '~/abstracts/sizes';
@use '~/abstracts/transitions';

#tokens {
  .token-player {
    overflow: hidden;

    @include transitions.make-transition(
      height,
      $from: calc(1.4em + sizes.$row-height + sizes.$gap-vertical),
      $to: calc(0.15em + 3 * sizes.$row-height + 2 * sizes.$gap-vertical),
      $exited: true,
      $unmounted: false
    );
  }
}
