//
// Dakara Project
//
// Tokens settings style file
//

@use '~/abstracts/controls';
@use '~/abstracts/sizes';
@use '~/abstracts/transitions';

#tokens {
  .token-box {
    @include transitions.make-transition(
      'collapse-height-vertical',
      height,
      $from: calc(1.4em + sizes.$row-height + sizes.$gap-vertical),
      $to: calc(0.15em + 3 * sizes.$row-height + 2 * sizes.$gap-vertical),
      $enter-done: false,
      $exit-done: false
    );

    .transition {
      &.collapse-height-vertical-appear,
      &.collapse-height-vertical-enter,
      &.collapse-height-vertical-exit {
        overflow-y: hidden;
      }
    }
  }
}
