//
// Dakara Project
//
// Tokens settings style file
//

// tokens sizes
$token-height: $row-height;

#tokens {
    .token {
        height: $token-height;
        display: flex;
        background: $neutral-clear;
        color: $text-dark;

        @include make-gap(margin, top, 0.5);

        .key {
            @include make-gap(padding, horizontal);
            flex: 1;
            line-height: $token-height;
            @include text-truncate();
        }

        .controls {
            @include make-controls($token-height);
        }
    }
}
