/**
 * Dakara project
 *
 * Colors style file
 */

@body-background: @black-90;
@text-color: @black-60;

// base colors
@brand-primary: saturate(#9100B2, -20%);
@brand-success: saturate(#19FFB0, -50%);
@brand-warning: saturate(#FFB700, -20%);
@brand-danger: #C94525;
@brand-info: #375EC9;

// dark colors
@brand-primary-dark: darken(@brand-primary, 12%);
@brand-success-dark: darken(@brand-success, 10%);
@brand-warning-dark: darken(@brand-warning, 10%);
@brand-danger-dark: darken(@brand-danger, 10%);
@brand-info-dark: darken(@brand-info, 10%);

// light colors
@brand-primary-light: lighten(@brand-primary, 7%);
@brand-success-light: lighten(@brand-success, 7%);
@brand-warning-light: lighten(@brand-warning, 10%);
@brand-danger-light: lighten(@brand-danger, 7%);
@brand-info-light: lighten(@brand-info, 7%);

// lighter colors
@brand-primary-lighter: lighten(@brand-primary, 2.5%);
@brand-success-lighter: lighten(@brand-success, 5.5%);
@brand-warning-lighter: lighten(@brand-warning, 4.5%);
@brand-danger-lighter: lighten(@brand-danger, 2.5%);
@brand-info-lighter: lighten(@brand-info, 2.5%);
