/**
 * Dakara project
 *
 * Colors style file
 */

@body-background: @black-90;
@text-color: @black-60;


@brand-primary: saturate(#9100B2, -20%);
@brand-success: #19FFB0;
@brand-warning: #FFB700;
@brand-danger: #B28512;
@brand-info: #B042CC;
