/**
 * Dakara project
 *
 * Main style file
 */


/**
 * Imports
 */

@import (less) "../node_modules/normalize.css/normalize.css";
@import "../preboot/less/preboot.less";
@import "colors.less";
@import "sizes.less";

/**
 * Global rules
 */

* {
    font-family: Roboto, @font-family-sans-serif;

    .selection() {
        background: @brand-primary;
        color: @text-dark;
    }

    &::-moz-selection {
        .selection;
    }

    &::selection {
        .selection;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

mark {
    background: @brand-primary;
    color: @text-dark;
}

body {
    background: @body-background;
    color: @text-light;
    margin: 0;
    padding: 0;
}

html {
    #main {
        .center-block();
        max-width: @page-width;
        display: flex;
        min-height: 100vh;
        flex-direction: column;

        header,
        footer,
        #playerbox,
        #libraries {
            .box-shadow(0 0 20px fade(black, 50%));
        }

        #content {
            flex: 1;
        }

        footer {
            margin-top: @gap-vertical;
            padding: @gap-vertical @gap-horizontal;
            background: @black-80;
            text-align: right;

            h2 {
                margin: 0;
                font-size: 15pt;
                font-weight: 300;
            }
        }
    }
}

/**
 * Elements rules
 */

@import "controls.less";
@import "listing.less";
@import "listing_entry_song.less";
@import "listing_entry_generic.less";
@import "notifications.less";
@import "playerbox.less";
@import "libraries.less";
@import "header.less";
