/**
 * Dakara project
 *
 * Main style file
 */


/**
 * Imports
 */

@import (less) "../node_modules/normalize.css/normalize.css";
@import "../preboot/less/preboot.less";
@import "colors.less";
@import "sizes.less";

/**
 * Global rules
 */

* {
    font-family: Roboto, @font-family-sans-serif;

    .selection() {
        background: @brand-primary;
        color: @body-background;
    }

    &::-moz-selection {
        .selection;
    }

    &::selection {
        .selection;
    }
}

html {
    body {
        .center-block();
        max-width: @width;
        background: @body-background;
        color: @text-color;
        display: flex;
        min-height: 100vh;
        flex-direction: column;

        header,
        footer,
        #playlist,
        #library {
            .box-shadow(0 0 20px rgba(0, 0, 0, 0.5));
        }

        header {
            background: @black-80;
            padding: @gap-vertical @gap-horizontal;

            h1 {
                margin: 0;
                font-size: 50pt;
                font-weight: 100;
            }
        }

        #content {
            flex: 1;
        }

        footer {
            margin-top: @gap-vertical;
            padding: @gap-vertical @gap-horizontal;
            background: @black-80;
            text-align: right;

            h2 {
                margin: 0;
                font-size: 15pt;
                font-weight: 300;
            }
        }
    }
}

/**
 * Elements rules
 */

@import "controls.less";
@import "listing.less";
@import "notifications.less";
@import "playlist.less";
@import "library.less";
