/**
 * Dakara project
 *
 * Library style file
 */

#library {
    margin-top: @gap-vertical;
    @library-controls-height: 50px;

    #query {
        display: flex;
        padding: @gap-vertical 0;
        background: darken(@brand-primary, 20%);

        .field {
            flex: 1;
            padding-right: @gap-horizontal;

            .fake-input {
                display: flex;
                width: 100%;
                border: none;
                background: @black-70;
                color: @body-background;
                height: @library-controls-height;
                padding: 0 0 0 @gap-horizontal;
                box-sizing: border-box;

                &:hover {
                    background: lighten(@black-70, 7%);
                }

                input {
                    flex: 1;
                    .placeholder(@black-80);
                    background: none;
                    border: none;
                    outline: none;
                    height: @library-controls-height;

                    &::-moz-placeholder {
                        opacity: 1;
                    }
                }

                .controls {
                    .make-controls(@library-controls-height, 15pt);

                    .clear {
                    }
                }
            }
        }

        .controls {
            .make-controls(@library-controls-height, 20pt);

            .search {
            }
        }
    }

    #results {
        ul.listing {
            .make-listing(@library-controls-height, 18pt);

            .add {
            }

            li:nth-child(2n) {
                .add {
                    background: lighten(@brand-primary, 2.5%);
                }
            }

            li:hover {
                .add {
                    background: @brand-primary-light;
                }
            }
        }
    }

    #paginator {
        background: darken(@brand-primary, 20%);
        display: flex;
        @paginator-height: 50px;

        .controls {
            .make-controls(@paginator-height, 25pt);
        }

        .info {
            padding: 0 @gap-horizontal;
            color: @brand-primary;
            flex: 1;
            text-align: right;

            .stat {
                display: inline-block;
                font-weight: 300;
                font-size: 30pt;
                vertical-align: middle;
                line-height: @paginator-height;
            }

            .description {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
