/**
 * Dakara project
 *
 * Generic listing entry style file
 * i.e. for artists and works
 */

.artist-view,
.work-view {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: @gap-horizontal;

    .artist-name,
    .work-name {
    }
}
