/**
 * Dakara project
 *
 * Song style file
 */

.listing-entry {
    .entry-info {
            .song-view {
                flex: 1;

                .song-preview {
                    display: flex;
                    align-items: center;
                    padding-left: @gap-horizontal;
                    position: relative;
                    overflow-y: hidden;
                    cursor: pointer;
                    height: @listing-entry-height;

                    .title-header {
                        flex: 1;
                        width: 0;

                        * {
                            display: inline;
                        }

                        .title {
                            .text-truncate();
                            font-size: 1.05em;
                        }

                        .detail {
                            margin-left: 0.5em;
                            opacity: 0.65;
                        }
                    }

                    .song-preview-details {
                        .make-song-preview-details(0.9em, @black-70);
                        margin-right: @gap-horizontal;
                        align-items: flex-end;
                    }

                    .song-tag-list {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 0.6em;
                        line-height: 1em;
                    }
                }

                .song-expanded-details {
                    @height: 0.75 * @listing-entry-height;
                    .make-song-view(@height, @listing-entry-height, @listing-entry-control-font-size * 0.85, @listing-entry-control-font-size);

                    &.expand-view-enter {
                        overflow: hidden;
                        max-height: 0;

                        &.expand-view-enter-active {
                            max-height: @height * 10;
                            .transition(max-height 600ms ease-out);
                        }
                    }

                    &.expand-view-leave {
                        overflow: hidden;
                        max-height: @height * 10;

                        &.expand-view-leave-active {
                            max-height: 0;
                            .transition(max-height 300ms ease-out);
                        }
                    }
                }
            }

            .duration {
                background: darken(@black-80, 5%);

                .duration-content {
                    font-size: 0.85em;
                    line-height: @listing-entry-height;
                    width: @listing-entry-height;
                    background: @black-60;
                    color: @black-80;
                    text-align: center;
                }
            }
        }

        &:nth-child(2n) .entry-info .duration .duration-content {
            background: lighten(@black-60, 2.5%);
        }

        &:hover .entry-info .duration .duration-content {
            background: lighten(@black-60, 7%);
        }
    }

.make-song-work(@border-color) {
    .work-link {
        .work-link-content {
            border: solid 1px @border-color;
            margin-left: 0.5em;
            padding: 0 2px;
            font-size: 90%;
        }
    }

    .work-subtitle {
        opacity: 0.65;
        margin-left: 0.5em;
    }

    .work-title {
    }

    .work-type {
    }
}

.make-song-preview-details(@font-size, @border-color) {
    display: flex;
    flex-direction: column;
    font-size: @font-size;

    .artists {
        .artist:not(:last-child)::after {
            content: ", ";
        }
    }

    .work {
        .make-song-work(@border-color);

        * {
            display: inline;
        }

        i {
            margin-left: 0.5em;
        }
    }
}

.make-song-view(@height, @height-header, @type-font-size, @listing-entry-control-font-size) {
    @color-light: darken(@black-60, 7%);
    @color-dark: darken(@black-80, 2%);

    .title-header {
        padding: 0 @gap-horizontal;
        height: @height-header;
        display: flex;
        align-items: center;
        cursor: pointer;

        * {
            display: inline;
        }

        .title {
            font-size: 1.05em;
        }

        .detail {
            margin-left: 0.5em;
            opacity: 0.65;
        }
    }

    .make-sublisting() {
        margin: 0;
        padding: 0;
        // background: @black-80;
        list-style-type: none;
        overflow-x: hidden;

        > li {
            display: flex;
            padding-left: @gap-horizontal;

            .controls {
                .make-controls(@height, @listing-entry-control-font-size);
            }
        }
    }

    .works {
        .works-list {
            .make-sublisting();

            > li {
                .work {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    .make-song-work(darken(@black-70, 2%));

                    .work-link {
                        flex: 1;
                    }

                    .work-type {
                        background: @color-light;
                        color: @color-dark;
                    }
                }

                .work-type {
                    font-size: @type-font-size;
                    line-height: @height;
                    width: @height;
                    text-align: center;
                }


                &:nth-child(2n) .work .work-type {
                    background: lighten(@color-light, 2%);
                }

                &:hover .work .work-type {
                    background: lighten(@color-light, 3.5%);
                }
            }
        }
    }

    .artists {
        .artists-list {
            .make-sublisting();

            > li {
                .artist {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    .artist-name {
                    }
                }
            }
        }
    }

    .tags {
        background: @color-dark;
        line-height: @height;
    }

    li {
        background: @color-dark;

        &:nth-child(2n) {
            background: lighten(@color-dark, 1.25%);
        }

        &:hover {
            background: lighten(@color-dark, 3.5%);
        }
    }

}

.tag {
    padding: 0 @gap-horizontal;
    display: inline-block;
    color: fade(black, 50%);
    font-weight: 700;

    .make-tag(@color) {
        background-color: @color;
        
        &.clickable {
            cursor: pointer;

            &:hover {
                background-color: lighten(@color, 5%);
            }

            i {
                margin-right: 0.5em;
                font-size: 1.2em;
            }
        }

        &.disabled {
            background-color: desaturate(@color, 50%);
            opacity: 0.5;
        }
    }

    &.tag-color-0 {
        .make-tag(#1b9e77); 
    }
    &.tag-color-1 {
        .make-tag(#d95f02); 
    }
    &.tag-color-2 {
        .make-tag(#7570b3); 
    }
    &.tag-color-3 {
        .make-tag(#e7298a); 
    }
    &.tag-color-4 {
        .make-tag(#66a61e); 
    }
    &.tag-color-5 {
        .make-tag(#e6ab02); 
    }
    &.tag-color-6 {
        .make-tag(#a6761d); 
    }
    &.tag-color-7 {
        .make-tag(#666666); 
    }
}
