/**
 * Dakara project
 *
 * Listing style file
 */


.make-listing(@height, @control-font-size: 1em) {
        margin: 0;
        padding: 0;
        background: @black-80;
        list-style-type: none;
        overflow-x: hidden;

        li {
                display: flex;
                line-height: @height;

                &:nth-child(2n) {
                        background: lighten(@black-80, 2.5%);
                }

                &:hover {
                        background: lighten(@black-80, 7%);
                }

                .data {
                        padding-left: @gap-horizontal;
                        flex: 1;
                        .text-truncate();
                }

                .controls {
                        .make-controls(@height, @control-font-size);
                }

                .notification {
                        width: 50%;
                        box-sizing: border-box;
                }

                &.notified {
                        width: 200%;
                }

                &.notified-enter {
                        margin-left: 0;

                        &.notified-enter-active {
                                margin-left: -100%;
                                transition margin-left: 300ms ease-out;
                        }
                }

                &.notified-leave {
                        margin-left: -100%;

                        &.notified-leave-active {
                                margin-left: 0;
                                transition margin-left: 300ms ease-out;
                        }
                }
        }
}
