/**
 * Dakara project
 *
 * Listing style file
 */


.listing {
    margin: 0;
    padding: 0;
    background: @black-80;
    list-style-type: none;
    overflow-x: hidden;

    .listing-entry {
        display: flex;
        position: relative;

        &:nth-child(2n) {
            background: lighten(@black-80, 2.5%);
        }

        &:hover {
            background: lighten(@black-80, 7%);
        }

        &.add-remove-enter {
            overflow: hidden;
            height: 0;

            &.add-remove-enter-active {
                height: @listing-entry-height;
                .transition(height 300ms ease-out);
            }
        }

        &.add-remove-leave {
            overflow: hidden;
            height: @listing-entry-height;

            &.add-remove-leave-active {
                height: 0;
                .transition(height 150ms ease-out);

                &.delayed {
                    .transition-delay(500ms);
                }
            }
        }

        .entry-info {
            flex: 1;
            display: flex;
        }


        .playlist-info {
            background: darken(@black-80, 6%);
            display: flex;
            align-items: flex-start;

            .playlist-info-content {
                line-height: @listing-entry-height;
                background: @brand-info;
                color: @black-90;
                text-align: center;

                .play-time {
                    min-width: (2 * @listing-entry-height);

                    i {
                        padding-right: 0.5em;
                    }
                }

                .playing {
                    width: @listing-entry-height;
                }

                &.playlist-info-enter {
                    max-width: 0;
                    overflow: hidden;

                    &.playlist-info-enter-active {
                        max-width: (2 * @listing-entry-height);
                        .transition(max-width 300ms ease-out);
                    }
                }

                &.playlist-info-leave {
                    max-width: (2 * @listing-entry-height);
                    overflow: hidden;

                    &.playlist-info-leave-active {
                        max-width: 0;
                        .transition(max-width 150ms ease-out);
                    }
                }
            }
        }

        &:nth-child(2n) .playlist-info .playlist-info-content {
            background: @brand-info-lighter;
        }

        &:hover .playlist-info .playlist-info-content {
            background: @brand-info-light;
        }

        .controls {
            background: darken(@black-80, 7%);
            .make-controls(@listing-entry-height, @listing-entry-control-font-size);
        }

        .notified {
            width: 100%;
            height: @listing-entry-height;
            line-height: @listing-entry-height;
            position: absolute;
            top: 0;
            left: 0;

            &.notified-enter {
                left: 100%;

                &.notified-enter-active {
                    left: 0;
                    .transition(left 300ms ease-out);
                }
            }

            &.notified-leave {
                left: 0;

                &.notified-leave-active {
                    left: 100%;
                    .transition(left 150ms ease-out);
                }
            }
        }
    }
}

