/**
 * Dakara project
 *
 * Listing style file
 */


.listing {
    margin: 0;
    padding: 0;
    background: darken(@neutral-mid, 3%);
    list-style-type: none;
    overflow-x: hidden;

    .listing-entry {
        background: @neutral-mid;

        .hoverizable, &.hoverizable {
            &:hover {
                background: @neutral-mid-lighter;
            }
        
        }

        &:nth-child(2n) {
            background: @neutral-mid-light;
        }


        &.add-remove-enter {
            overflow: hidden;
            height: 0;

            &.add-remove-enter-active {
                height: @listing-entry-height;
                .transition(height 300ms ease-out);
            }
        }

        &.add-remove-leave {
            overflow: hidden;
            height: @listing-entry-height;

            &.add-remove-leave-active {
                height: 0;
                .transition(height 150ms ease-out);

                &.delayed {
                    .transition-delay(500ms);
                }
            }
        }

        .entry-info {
            flex: 1;
            display: flex;
        }


        .controls {
            background: darken(@neutral-mid, 7%);
            .make-controls(@listing-entry-height, @listing-entry-control-font-size);
        }

        .notified {
            width: 100%;
            height: @listing-entry-height;
            line-height: @listing-entry-height;
            position: absolute;
            top: 0;
            left: 0;

            &.notified-enter {
                left: 100%;

                &.notified-enter-active {
                    left: 0;
                    .transition(left 300ms ease-out);
                }
            }

            &.notified-leave {
                left: 0;

                &.notified-leave-active {
                    left: 100%;
                    .transition(left 150ms ease-out);
                }
            }
        }
    }
}

