/**
 * Dakara project
 *
 * Playlist style file
 */


#playlist {
        margin-top: @gap-vertical;

        #player {
                display: flex;
                align-items: center;
                padding: @gap-vertical @gap-horizontal @gap-vertical 0;
                background: darken(@brand-primary, 20%);
                @player-controls-height: 60px;

                .controls {
                        .make-controls(@player-controls-height, 20pt);

                        .play-pause {
                        }

                        .skip {
                        }
                }

                .details {
                        margin: 0 @gap-horizontal;
                        color: @brand-primary;
                        flex: 1;
                        min-height: @player-controls-height;

                        .title {
                                font-size: 18pt;
                                font-weight: 300;
                        }
                }

                .status {
                        .current {
                                font-size: @player-controls-height;
                                font-weight: 100;
                                color: @brand-primary;
                                line-height: @player-controls-height;
                        }
                }
        }

        #entries {
                .info {
                        padding: 0 @gap-horizontal;
                        background: @brand-primary;
                        cursor: pointer;
                        color: @body-background;
                        display: flex;
                        align-items: center;


                        &:hover {
                                background: @brand-primary-light;
                        }

                        .info-item {
                                display: flex;
                                align-items: center;

                                &:last-child {
                                        flex: 1;
                                }

                                &:nth-child(n+2) {
                                        margin-left: @gap-horizontal;
                                }

                                .stat {
                                        display: inline-block;
                                        font-weight: 100;
                                        font-size: 30pt;
                                        vertical-align: middle;
                                }

                                .description {
                                        margin-left: 5px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        flex: 1;
                                }
                        }

                }

                ul.listing {
                        @entries-height: 40px;
                        .make-listing(@entries-height, 15pt);
                        max-height: @entries-height * 5;
                        overflow-y: auto;

                        .remove {
                        }

                        li:nth-child(2n) {
                                .remove {
                                        background: lighten(@brand-danger, 2.5%);
                                }
                        }

                        li:hover {
                                .remove {
                                        background: @brand-danger-light;
                                }
                        }
                }
        }
}
