/**
 * Dakara project
 *
 * Playlist style file
 */


#playlist {
    margin-top: @gap-vertical;

    #player {
        background: darken(@brand-primary, 20%);

        .top {
            display: flex;
            align-items: center;
            padding: @gap-vertical 0;
            @player-controls-height: 60px;

            .controls {
                .make-controls(@player-controls-height, 20pt);

                .play-pause {
                }

                .skip {
                }
            }

            .details {
                flex: 1;
                display: flex;
                color: @brand-primary;
                margin-left: @gap-horizontal;
                position: relative;
                overflow: hidden;


                .data {
                    padding-right: @gap-horizontal;
                    flex: 1;
                    height: @player-controls-height;

                    .title {
                        font-size: 18pt;
                        font-weight: 300;
                    }
                }

                .status {
                    @ratio: 0.8;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: @gap-horizontal;
                    @player-status-height: 1 * @player-controls-height;

                    .current {
                        font-size: @player-status-height * @ratio;
                        font-weight: 100;
                        line-height: @player-status-height * @ratio;
                    }

                    .duration {
                        font-size: @player-status-height * (1 - @ratio);
                        line-height: @player-status-height * (1 - @ratio);
                        text-align: right;
                    }
                }

                .notified {
                    position: absolute;
                    width: 100%;
                    line-height: @player-controls-height;
                    height: @player-controls-height;
                    top: 0;
                    left: 0;

                    &.notified-enter {
                        left: 100%;

                        &.notified-enter-active {
                            left: 0;
                            .transition(left 300ms ease-out);
                        }
                    }

                    &.notified-leave {
                        left: 0;

                        &.notified-leave-active {
                            left: 100%;
                            .transition(left 150ms ease-out);
                        }
                    }

                    .notification {
                        .text-truncate();
                    }
                }
            }
        }

        .progressbar {
            width: 100%;
            height: 4px;

            .progress {
                height: 100%;
                background: @brand-primary-dark;
            }
        }
    }

    #entries {
        .info {
            padding: 0 @gap-horizontal;
            background: @brand-primary;
            cursor: pointer;
            color: @body-background;
            display: flex;
            align-items: center;
            justify-content: space-between;


            &:hover {
                background: @brand-primary-light;
            }

            .info-item {
                display: flex;
                align-items: center;

                i {
                    font-size: 20pt;
                    line-height: 30pt;
                    margin-right: 3px;
                }

                .stat {
                    display: inline-block;
                    font-weight: 100;
                    font-size: 30pt;
                    vertical-align: middle;
                }

                .description {
                    margin-left: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    flex: 1;
                }
            }
        }

        .listing {
            @entries-height: 50px;
            @entries-list-height: @entries-height * 5;
            .make-listing(@entries-height, 18pt);
            max-height: @entries-list-height;
            overflow-y: auto;

            &.collapse-enter {
                overflow: hidden;
                max-height: 0;

                &.collapse-enter-active {
                    max-height: @entries-list-height;
                    .transition(max-height 300ms ease-out);
                }
            }

            &.collapse-leave {
                overflow: hidden;
                max-height: @entries-list-height;

                &.collapse-leave-active {
                    max-height: 0;
                    .transition(max-height 150ms ease-out);
                }
            }

            .remove {
            }
        }
    }
}
