/**
 * Dakara project
 *
 * Sizes style file
 */

@gap-horizontal: 15px;
@gap-vertical: 2 * @gap-horizontal;

@width: 900px;

@listing-entry-height: 50px;
@listing-entry-control-font-size: 18pt;

@library-searchbox-height: @listing-entry-height;
@library-chooser-height: @listing-entry-height;
@library-chooser-icon-font-size-home: @listing-entry-control-font-size;
@library-chooser-icon-font-size: 15pt;

@paginator-height: 50px;
