/**
 * Dakara project
 *
 * Song style file
 */

.make-song-work(@border-color) {
    .work-link {
        .work-link-content {
            border: solid 1px @border-color;
            margin-left: 0.5em;
            padding: 0 2px;
            font-size: 90%;
        }
    }

    .work-subtitle {
        opacity: 0.65;
        margin-left: 0.5em;
    }

    .work-title {
    }

    .work-type {
    }
}

.make-song-preview-details(@font-size, @border-color) {
    display: flex;
    flex-direction: column;
    font-size: @font-size;

    .artists {
        .artist:not(:last-child)::after {
            content: ", ";
        }
    }

    .work {
        .make-song-work(@border-color);

        * {
            display: inline;
        }

        i {
            margin-left: 0.5em;
        }
    }
}

.make-song-view(@height, @title-font-size, @type-font-size, @control-font-size) {
    @color-light: darken(@black-60, 6%);
    @color-dark: darken(@black-80, 1%);
    flex: 1;

    .title {
        background: @color-light;
        color: @color-dark;
        font-size: @title-font-size;
        font-weight: 300;
        padding: 0 @gap-horizontal;
    }

    .works {
        .header {
            margin: 0 @gap-horizontal;
            line-height: @height;
            // background: 
        }

        .works-list {
            margin: 0;
            padding: 0;
            // background: @black-80;
            list-style-type: none;
            overflow-x: hidden;

            > li {
                display: flex;
                padding-left: @gap-horizontal;

                .work {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    .make-song-work(darken(@black-70, 2%));

                    .work-link {
                        flex: 1;
                    }

                    .work-type {
                        background: @color-light;
                        color: @color-dark;
                    }
                }

                .work-type {
                    font-size: @type-font-size;
                    line-height: @height;
                    width: @height;
                    text-align: center;
                }

                .controls {
                    .make-controls(@height, @control-font-size);
                }

                &:nth-child(2n) .work .work-type {
                    background: lighten(@color-light, 2%);
                }

                &:hover .work .work-type {
                    background: lighten(@color-light, 3.5%);
                }
            }
        }
    }

    .artists {
    }

    .tags {
        background: @color-dark;
        line-height: @height;
    }

    li {
        background: @color-dark;

        &:nth-child(2n) {
            background: lighten(@color-dark, 1.25%);
        }

        &:hover {
            background: lighten(@color-dark, 3.5%);
        }
    }

}

.tag {
    padding: 0 @gap-horizontal;
    display: inline-block;
    color: fade(black, 50%);
    font-weight: 700;

    .make-tag(@color) {
        background-color: @color;
        //color: darken(@color, 25%);
    }

    &.tag-color-0 {
        .make-tag(#1b9e77); 
    }
    &.tag-color-1 {
        .make-tag(#d95f02); 
    }
    &.tag-color-2 {
        .make-tag(#7570b3); 
    }
    &.tag-color-3 {
        .make-tag(#e7298a); 
    }
    &.tag-color-4 {
        .make-tag(#66a61e); 
    }
    &.tag-color-5 {
        .make-tag(#e6ab02); 
    }
    &.tag-color-6 {
        .make-tag(#a6761d); 
    }
    &.tag-color-7 {
        .make-tag(#666666); 
    }
}
