//
// Dakara Project
//
// Footer style file
//


#footer {
    background: darken($neutral-mid, 3%);
    text-align: right;
    margin: 0;
    @include make-gap(padding, vertical);

    h2 {
        @include make-gap(padding, horizontal);
        font-size: x-large;

        .version {
            font-size: 0.6em;
            font-weight: 300;
        }
    }

    .contact {
        @include make-gap(padding, top);
        font-size: small;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
