//
// Dakara Project
//
// User page style file
//

@use '~/abstracts/sizes';

#user {
  .header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .name {
      @include sizes.make-gap(padding, horizontal);

      & {
        overflow: hidden;
        overflow-wrap: break-word;
      }

      h2 {
        font-size: 3em;
      }
    }

    .permissions {
      flex: 1 0 auto;
      text-align: right;
    }
  }
}
