//
// Dakara Project
//
// User page style file
//


#user {
    .user-header {
        @include make-gap(padding, vertical);
        background: $brand-primary-darker;
        color: $brand-primary-light;
        display: flex;
        flex-wrap: wrap;

        h1 {
            @include make-gap(padding, horizontal);
            font-size: 3em;
            overflow-wrap: break-word;
            overflow: hidden;
        }

        .permissions {
            text-align: right;
            flex: 1 0 auto;

            .permission {
                margin-top: 0.3em;
                margin-bottom: 0.3em;
            }
        }

    }

    .form {
        @include make-gap(padding, vertical);
    }
}
