//
// Dakara Project
//
// User page style file
//


#user {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .user-name-block {
            @include make-gap(padding, horizontal);
            overflow-wrap: break-word;
            overflow: hidden;

            h1 {
                font-size: 3em;
            }

            h2 {
                font-size: 1.5em;
            }
        }

        .permissions {
            text-align: right;
            flex: 1 0 auto;
        }

    }

    .change-email-disabled {
        @include make-gap(margin, top)
    }
}
