//
// Dakara Project
//
// Dev warning message style file
//

@use '~/abstracts/colors';

// dev warning sizes
$dev-warning-height: 2rem;

#dev-warning {
  background: repeating-linear-gradient(
    -45deg,
    colors.$brand-warning-dark,
    colors.$brand-warning-dark 2rem,
    colors.$brand-warning-darker 2rem,
    colors.$brand-warning-darker 4rem
  );
  color: colors.$text-dark;
  height: $dev-warning-height;
  line-height: $dev-warning-height;
  position: relative;
  z-index: 1400;

  &::selection {
    background: colors.$brand-warning-darker;
  }
}
