//
// Dakara Project
//
// Dev warning message style file
//

@use '~/abstracts/colors';
@use '~/abstracts/sizes';

// dev warning sizes
$dev-warning-height: sizes.$row-height;

#dev-warning {
  align-items: center;
  background: repeating-linear-gradient(
    -45deg,
    colors.$warning-102,
    colors.$warning-102 2rem,
    colors.$warning-100 2rem,
    colors.$warning-100 4rem
  );
  color: colors.$warning-400;
  display: flex;
  min-height: $dev-warning-height;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1400;

  &::selection {
    background: colors.$warning-200;
    color: colors.$warning-500;
  }
}
