//
// Dakara Project
//
// Footer style file
//

@use "~/abstracts/colors";
@use "~/abstracts/sizes";

#footer {
    @include sizes.make-gap(padding, vertical);

    background: colors.$neutral-mid-dark;
    margin: 0;
    text-align: right;

    h2 {
        @include sizes.make-gap(padding, horizontal);

        font-size: x-large;

        .version {
            font-size: 0.6em;
            font-weight: 300;
        }
    }

    .contact {
        @include sizes.make-gap(padding, top);

        font-size: small;

        p {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
