@use 'sass:color';

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';

.test-colors {
  .mosaic {
    @include sizes.make-gap(margin, vertical);

    .tile {
      @mixin make-tile($color-name, $color) {
        &.#{$color-name} {
          background: $color;
          @if color.channel($color, 'lightness', $space: hsl) > 30% {
            color: color.scale($color, $lightness: -50%);
          } @else {
            color: color.scale($color, $lightness: 50%);
          }
        }
      }

      @include make-tile('primary-000', colors.$primary-000);
      @include make-tile('success-000', colors.$success-000);
      @include make-tile('warning-000', colors.$warning-000);
      @include make-tile('danger-000', colors.$danger-000);
      @include make-tile('info-000', colors.$info-000);
      @include make-tile('neutral-000', colors.$neutral-000);
      @include make-tile('primary-100', colors.$primary-100);
      @include make-tile('success-100', colors.$success-100);
      @include make-tile('warning-100', colors.$warning-100);
      @include make-tile('danger-100', colors.$danger-100);
      @include make-tile('info-100', colors.$info-100);
      @include make-tile('neutral-100', colors.$neutral-100);
      @include make-tile('primary-110', colors.$primary-110);
      @include make-tile('success-110', colors.$success-110);
      @include make-tile('warning-110', colors.$warning-110);
      @include make-tile('danger-110', colors.$danger-110);
      @include make-tile('info-110', colors.$info-110);
      @include make-tile('neutral-110', colors.$neutral-110);
      @include make-tile('neutral-120', colors.$neutral-120);
      @include make-tile('neutral-130', colors.$neutral-130);
      @include make-tile('neutral-140', colors.$neutral-140);
      @include make-tile('neutral-150', colors.$neutral-150);
      @include make-tile('primary-200', colors.$primary-200);
      @include make-tile('success-200', colors.$success-200);
      @include make-tile('warning-200', colors.$warning-200);
      @include make-tile('danger-200', colors.$danger-200);
      @include make-tile('info-200', colors.$info-200);
      @include make-tile('neutral-200', colors.$neutral-200);
      @include make-tile('primary-210', colors.$primary-210);
      @include make-tile('success-210', colors.$success-210);
      @include make-tile('warning-210', colors.$warning-210);
      @include make-tile('danger-210', colors.$danger-210);
      @include make-tile('info-210', colors.$info-210);
      @include make-tile('neutral-210', colors.$neutral-210);
      @include make-tile('primary-220', colors.$primary-220);
      @include make-tile('success-220', colors.$success-220);
      @include make-tile('warning-220', colors.$warning-220);
      @include make-tile('danger-220', colors.$danger-220);
      @include make-tile('info-220', colors.$info-220);
      @include make-tile('neutral-220', colors.$neutral-220);
      @include make-tile('primary-300', colors.$primary-300);
      @include make-tile('success-300', colors.$success-300);
      @include make-tile('warning-300', colors.$warning-300);
      @include make-tile('danger-300', colors.$danger-300);
      @include make-tile('info-300', colors.$info-300);
      @include make-tile('neutral-300', colors.$neutral-300);
      @include make-tile('primary-310', colors.$primary-310);
      @include make-tile('success-310', colors.$success-310);
      @include make-tile('warning-310', colors.$warning-310);
      @include make-tile('danger-310', colors.$danger-310);
      @include make-tile('info-310', colors.$info-310);
      @include make-tile('neutral-310', colors.$neutral-310);
      @include make-tile('primary-320', colors.$primary-320);
      @include make-tile('success-320', colors.$success-320);
      @include make-tile('warning-320', colors.$warning-320);
      @include make-tile('danger-320', colors.$danger-320);
      @include make-tile('info-320', colors.$info-320);
      @include make-tile('neutral-320', colors.$neutral-320);
      @include make-tile('primary-330', colors.$primary-330);
      @include make-tile('success-330', colors.$success-330);
      @include make-tile('warning-330', colors.$warning-330);
      @include make-tile('danger-330', colors.$danger-330);
      @include make-tile('info-330', colors.$info-330);
      @include make-tile('neutral-330', colors.$neutral-330);

      @include make-tile('text-dark', colors.$text-dark);
      @include make-tile('text-light', colors.$text-light);

      background: black;
      text-align: center;

      &.title {
        background: none;
        text-align: left;
      }
    }
  }

  .controls {
    @include controls.make-controls();

    display: flex;
    justify-content: flex-end;

    &:not(:last-child) {
      @include sizes.make-gap(padding, bottom);
    }

    > .control {
      @include sizes.make-gap(padding, horizontal);
    }
  }
}
