//
// Dakara Project
//
// Header style file
//

@use "style/base/sizes";
@use "style/base/colors";
@use "style/base/media_query";

// header sizes
$header-height: sizes.$row-height;

#header {
    background: darken(colors.$neutral-mid, 3%);
    display: flex;
    height: $header-height;
    justify-content: space-between;
    position: relative;
    z-index: 1200;

    h1 {
        @include sizes.make-gap(padding, horizontal);

        font-size: xx-large;
        line-height: $header-height * 0.9;

        @include media_query.make-smartphone {
            font-size: x-large;
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
