//
// Dakara Project
//
// Main div style file
//


#main {
    > .column {
        // use flex instead
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - $dev-warning-height);

        @include make-desktop {
            @include center-block();

            max-width: $page-width-max;
        }

        > .content {
            flex-grow: 1;
        }
    }
}
