//
// Dakara Project
//
// Main div style file
//


#main {
    display: flex;
    min-height: 100vh;

    > .column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @include make-desktop {
            @include center-block();

            max-width: $page-width-max;
        }

        > .content {
            flex-grow: 1;
        }
    }
}
