//
// Dakara Project
//
// Main div style file
//


#main {
    // disable grid for now
    // display: grid;
    // grid-template-rows: auto auto 1fr auto;

    // use flex instead
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include make-desktop {
        @include center-block();
        max-width: $page-width-max;
    }
}

#content {
    flex-grow: 1;
}
