//
// Dakara Project
//
// Sizes style file
//


// gap sizes
@gap-horizontal: 1.5rem;
@gap-vertical: 2 * @gap-horizontal;

// page sizes
@page-width-max: 90rem;
@page-width-min: 60rem;

// row sizes
@row-height: 5rem;
@row-icon-font-size: 1.5em;

// subrow sizes
@subrow-height: 0.75 * @row-height;
@subrow-icon-font-size: 0.85 * @row-icon-font-size;

// redefine rem value
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
