//
// Dakara Project
//
// Controls style file
//

@use "~/abstracts/sizes";

// `make-controls` function:
//
// Defines the size of the controls within a `controls` class.
//
// Arguments:
//      $height: heigth of the control box.
//      $square: if `true`, set the width of the control box equal to its height.
//      $text-size: size of the text of the control.
//      $icon-size: size of the icon of the control, normalized by `text-size`.
@mixin make-controls($height: sizes.$row-height, $square: false, $text-size: 1.25em, $icon-size: 1.5em) {
    > .control,
    .subcontrols > .control {
        font-size: $text-size;
        height: $height;
        min-width: $height;

        @if $square {
            width: $height;
        }

        .icon {
            font-size: calc($icon-size / $text-size * 1em);
        }
    }
}

