//
// Dakara Project
//
// Controls style file
//

@use '~/abstracts/sizes';
@use '~/abstracts/support';

// `make-controls` function:
//
// Defines the size of the controls within a `controls` class.
//
// Arguments:
//      $height: heigth of the control box.
//      $text-size: size of the text of the control.
//      $icon-size: size of the icon of the control, normalized by `text-size`.
@mixin make-controls(
  $height: sizes.$row-height,
  $text-size: 1.25em,
  $icon-size: 1.5em
) {
  .control {
    font-size: $text-size;
    height: $height;

    &.square {
      min-width: $height;
    }

    .icon {
      font-size: calc($icon-size / $text-size * 1em);
    }

    .icon + .text {
      font-size: 0.85em;
      margin-left: 0.5em;

      @include support.make-smartphone {
        margin-left: 0.25em;
      }
    }
  }
}
