//
// Dakara Project
//
// Fonts style file
//

@mixin make-text {
  font-family: 'Roboto', sans-serif;
}

@mixin make-icon {
  font-family: 'Line Awesome Free';
  font-weight: 900;
}

// make long text clearly readible
@mixin make-long {
  font-size: 1.2em;
}
