//
// Dakara Project
//
// Transitions style file
//

// helper for creating transition styles
// @param $property name of the property to transition
// @param $from value of the property before entered and after exiting
// @param $to value of the property after entered and before exiting
// @param $timeout-enter timing of the entering step
// @param $timeout-exit timing of the exiting step
// @param $pre-enter enable pre-enter step
// @param $entering enable entering step
// @param $entered enable entered step
// @param $pre-exit enable pre-exit step
// @param $exiting enable exiting step
// @param $exited enable exited step
// @param $unmounted enable unmounted step
// step
@mixin make-transition(
  $property,
  $from,
  $to,
  $timeout-enter: 300ms,
  $timeout-exit: 150ms,
  $pre-enter: true,
  $entering: true,
  $entered: true,
  $pre-exit: false,
  $exiting: true,
  $exited: false,
  $unmounted: true
) {
  @if ($pre-enter) {
    &.preEnter {
      #{$property}: $from;
    }
  } @else {
    #{$property}: $from;
  }

  @if ($entering) {
    &.entering {
      #{$property}: $to;
      transition: $property $timeout-enter ease-out;
    }
  }

  @if ($entered) {
    &.entered {
      #{$property}: $to;
    }
  }

  @if ($pre-exit) {
    &.preExit {
      #{$property}: $to;
    }
  }

  @if ($exiting) {
    &.exiting {
      #{$property}: $from;
      transition: $property $timeout-exit ease-in;
    }
  }

  @if ($unmounted) {
    &.unmounted {
      display: none;
    }
  }

  @if ($exited) {
    &.exited {
      display: none;
    }
  }
}
