//
// Dakara Project
//
// Box style file
//

@use 'sass:color';

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';
@use '~/abstracts/support';

// `box` class:
//
// This class is aimed to style a generic box container in the layout. It
// should be subclassed with a color (`primary`, `success`, `warning`,
// `danger`, `info`, or `neutral`), as it has no colors by default. The box
// has direct child classes corresponding to its different parts: a `header`,
// a `footer`, and a `flow`. All of them are optional. The `header` and the
// `footer` should be subclassed with a color, as they have no color by
// default. In this case, they have their own vertical gaps, otherwise only a
// top gap for the `header`, and a bottom gap for the `footer`. The `flow`
// has no color. The `flow` creates vertical gaps to isolate its elements.
// The `flow` can have a ribbon for emphasis.
//
// Example without color subclass, with header and footer with color subclass:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Flow              |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Footer            |
// |                   | < gap
// +-------------------+
//
// Example without color subclass, with header with color subclass:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Flow              |
// |                   | < gap
// +-------------------+
//
// Example without color subclass, with header and footer with color subclass, and flow with a ribbon:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Flow              |
// |/Ribbon////////////|
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Footer            |
// |                   | < gap
// +-------------------+
//
// Example with color subclass, with header and footer without color subclass:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap (only 1)
// | Flow              |
// |                   | < gap (only 1)
// | Footer            |
// |                   | < gap
// +-------------------+
//
// Example with color subclass, with header without color subclass and no footer:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap (only 1)
// | Flow              |
// |                   | < gap
// +-------------------+
//
// Example with color subclass, with header without color subclass, no footer and another element:
// +-------------------+
// |                   | < gap
// | Header            |
// | Other             |
// |                   | < gap of flow
// | Flow              |
// |                   | < gap of flow
// +-------------------+
.box {
  // shadow if not embedded
  &:not(.embedded) {
    box-shadow: 0 0 2rem color.change(black, $alpha: 0.5);
  }

  > .header {
    @include sizes.make-gap(padding, top);

    &.primary,
    &.success,
    &.warning,
    &.danger,
    &.info {
      @include sizes.make-gap(padding, bottom);
    }

    > h2 {
      @include sizes.make-gap(padding, horizontal);
    }
  }

  > .footer {
    @include sizes.make-gap(padding, bottom);

    &.primary,
    &.success,
    &.warning,
    &.danger,
    &.info {
      @include sizes.make-gap(padding, top);
    }
  }

  .flow {
    @include sizes.make-gap(padding, vertical);

    // immediately nested flows do not have vertical padding
    > .flow {
      padding: 0;
    }

    // any elewent within a flow has vertical spacing
    > * + * {
      @include sizes.make-gap(margin, top);
    }

    // `ribbon` class:
    //
    // The ribbon is a colored layout used for emphasis. It should have a
    // color sub-class.
    .ribbon {
      @include sizes.make-gap(padding, vertical, 0.5);

      & {
        align-items: center;
        display: flex;
      }
    }

    h3,
    h4,
    h5,
    h6 {
      @include sizes.make-gap(padding, horizontal);
    }

    p,
    ul {
      @include sizes.make-gap(margin, horizontal);

      // paragraphs have margin between them
      + p,
      + ul {
        margin-top: 0.5em;
      }
    }
  }
}
