//
// Dakara Project
//
// Box style file
//

@use 'sass:color';

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';
@use '~/abstracts/support';

// `box` class:
//
// This class is aimed to style a generic box container in the layout. It
// should be subclassed with a color (`primary`, `success`, `warning`,
// `danger`, `info`, or `neutral`), as it has no colors by default. The box has
// direct child classes corresponding to its different parts: a `header`, a
// `footer`, and a `content`. All of them are optional. The `header` and the
// `footer` should be subclassed with a color, as they have no color by
// default. In this case, they have their own vertical gaps, otherwise only a
// top gap for the `header`, and a bottom gap for the `footer`. The `content`
// has no color. The `content` creates vertical gaps to isolate its elements.
// The `content` can have a ribbon for emphasis.
//
// Example without color subclass, with header and footer with color subclass:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Content           |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Footer            |
// |                   | < gap
// +-------------------+
//
// Example without color subclass, with header with color subclass:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Content           |
// |                   | < gap
// +-------------------+
//
// Example without color subclass, with header and footer with color subclass, and content ribbon:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// |/Ribbon////////////|
// | Content           |
// |                   | < gap
// + - - - - - - - - - +
// |                   | < gap
// | Footer            |
// |                   | < gap
// +-------------------+
//
// Example with color subclass, with header and footer without color subclass:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap (only 1)
// | Content           |
// |                   | < gap (only 1)
// | Footer            |
// |                   | < gap
// +-------------------+
//
// Example with color subclass, with header without color subclass and no footer:
// +-------------------+
// |                   | < gap
// | Header            |
// |                   | < gap (only 1)
// | Content           |
// |                   | < gap
// +-------------------+
//
// Example with color subclass, with header without color subclass, no footer and another element:
// +-------------------+
// |                   | < gap
// | Header            |
// | Other             |
// |                   | < gap of content
// | Content           |
// |                   | < gap
// +-------------------+
.box {
  // shadow if not embedded
  &:not(.embedded) {
    box-shadow: 0 0 2rem color.change(black, $alpha: 0.5);
  }

  > .header {
    @include sizes.make-gap(padding, top);

    &.primary,
    &.success,
    &.warning,
    &.danger,
    &.info {
      @include sizes.make-gap(padding, bottom);
    }

    > h2 {
      @include sizes.make-gap(padding, horizontal);
    }
  }

  > .footer {
    @include sizes.make-gap(padding, bottom);

    &.primary,
    &.success,
    &.warning,
    &.danger,
    &.info {
      @include sizes.make-gap(padding, top);
    }
  }

  > .content {
    @include sizes.make-gap(padding, vertical);

    > * + *,
    .content > * + * {
      @include sizes.make-gap(margin, top);
    }

    // `ribbon` class:
    //
    // The ribbon is a colored sub-content used for emphasis. It can
    // contain a button that will be aligned on the right.
    .ribbon {
      @include sizes.make-gap(padding, vertical, 0.5);

      & {
        align-items: center;
        display: flex;
      }

      .message {
        flex: 1;
      }
    }

    h3,
    h4,
    h5,
    h6 {
      @include sizes.make-gap(padding, horizontal);
    }
  }

  p,
  ul {
    @include sizes.make-gap(margin, horizontal);

    // paragraphs have margin between them
    + p,
    + ul {
      margin-top: 0.5em;
    }
  }
}
