//
// Dakara Project
//
// Controls style file
//

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';
@use '~/abstracts/support';

// `controls` class:
//
// The `controls` class is a manager for buttons, i.e. controls or `control`s,
// which displays them together. A default size is given for the controls,
// which can be overriden by the `abstracts.controls.make-controls` mixin.
// Controls have no color by default, and should have a color subclass. The
// color is adjusted wether the control is in a listable or a hoverizable
// element.
.controls {
  // default aspect of controls
  @include controls.make-controls;

  display: flex;

  // align right by default
  justify-content: flex-end;

  // non compact controls have space between each other
  &:not(.compact) {
    gap: sizes.$gap-horizontal;

    @include support.make-smartphone {
      gap: sizes.$gap-horizontal-smartphone;
    }
  }

  // class for a control button
  .control {
    align-items: center;
    border-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 0;
    text-decoration: none;

    // non-square and non-smashed buttons have padding
    &:not(.square):not(.smashed) {
      @include sizes.make-gap(padding, horizontal);
    }

    // maker for different type of control buttons
    @mixin make-control(
      $color,
      $background-enabled,
      $background-disabled,
      $background-hover,
      $background-focus
    ) {
      background: $background-enabled;
      color: $color;

      &.disabled,
      &[disabled] {
        background: $background-disabled;
        cursor: default;
        pointer-events: none;
      }

      &:not(.disabled):not([disabled]) {
        &:hover:not(:focus) {
          background: $background-hover;
        }

        &:focus {
          background: $background-focus;
        }
      }
    }

    &.neutral {
      @include make-control(
        colors.$neutral-000,
        colors.$neutral-300,
        colors.$neutral-200,
        colors.$neutral-302,
        colors.$neutral-303
      );
    }

    &.primary {
      @include make-control(
        colors.$primary-000,
        colors.$primary-300,
        colors.$primary-200,
        colors.$primary-302,
        colors.$primary-303
      );
    }

    &.success {
      @include make-control(
        colors.$success-000,
        colors.$success-300,
        colors.$success-200,
        colors.$success-302,
        colors.$success-303
      );
    }

    &.warning {
      @include make-control(
        colors.$warning-000,
        colors.$warning-300,
        colors.$warning-200,
        colors.$warning-302,
        colors.$warning-303
      );
    }

    &.danger {
      @include make-control(
        colors.$danger-000,
        colors.$danger-300,
        colors.$danger-200,
        colors.$danger-302,
        colors.$danger-303
      );
    }

    &.info {
      @include make-control(
        colors.$info-000,
        colors.$info-300,
        colors.$info-200,
        colors.$info-302,
        colors.$info-303
      );
    }

    // if the control contains a picture, it is vertically centered
    img {
      vertical-align: middle;
    }
  }
}

// lighten control listable on even line, or control in closest listable on
// even line
.listable:nth-child(even):not(:has(.listable)) .control,
.control.listable:nth-child(even) {
  @mixin make-control-line-even($color-normal, $color-disabled) {
    background: $color-normal;

    &.disabled,
    &[disabled] {
      background: $color-disabled;
    }
  }

  &.neutral {
    @include make-control-line-even(colors.$neutral-301, colors.$neutral-201);
  }

  &.primary {
    @include make-control-line-even(colors.$primary-301, colors.$primary-201);
  }

  &.success {
    @include make-control-line-even(colors.$success-301, colors.$success-201);
  }

  &.warning {
    @include make-control-line-even(colors.$warning-301, colors.$warning-201);
  }

  &.danger {
    @include make-control-line-even(colors.$danger-301, colors.$danger-201);
  }

  &.info {
    @include make-control-line-even(colors.$info-301, colors.$info-201);
  }
}

// lighten control when in hovered element
.hoverizable:hover .controls:not(:hover) .control {
  @mixin make-control-line-hover($color-normal, $color-disabled) {
    &:not(.disabled):not([disabled]):not(:focus) {
      background: $color-normal;
    }

    &.disabled,
    &[disabled] {
      background: $color-disabled !important;
    }
  }

  &.neutral {
    @include make-control-line-hover(colors.$neutral-302, colors.$neutral-202);
  }

  &.primary {
    @include make-control-line-hover(colors.$primary-302, colors.$primary-202);
  }

  &.success {
    @include make-control-line-hover(colors.$success-302, colors.$success-202);
  }

  &.warning {
    @include make-control-line-hover(colors.$warning-302, colors.$warning-202);
  }

  &.danger {
    @include make-control-line-hover(colors.$danger-302, colors.$danger-202);
  }

  &.info {
    @include make-control-line-hover(colors.$info-302, colors.$info-202);
  }
}

// `controls-col` class used to have a colomn of controls in a table.
.controls-col {
  .controls {
    height: 100%;
  }
}
