//
// Dakara Project
//
// Sublisting style file
//

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';

// sublisting sizes
$sublisting-entry-height: sizes.$subrow-height;
$sublisting-entry-control-icon-size: sizes.$subrow-icon-font-size;

// `sublisting` class:
//
// This module is a submodule for `listing` and aim to style inner lists of a
// list entry.
.sublisting {
  list-style-type: none;
  margin: 0 !important; // FIXME Remove box p and ul rules
  padding: 0;
  width: 100%;

  .sublisting-entry {
    $height: $sublisting-entry-height;

    align-items: center;
    background: colors.$neutral-120;
    color: colors.$neutral-420;
    display: flex;
    min-height: $height;

    &:nth-child(even) {
      background: colors.$neutral-121;
    }

    .controls {
      @include controls.make-controls(
        $height: $height,
        $square: true,
        $icon-size: $sublisting-entry-control-icon-size
      );

      align-self: flex-start;
    }
  }
}
