//
// Dakara Project
//
// Tags style file
//

@use '~/abstracts/colors';
@use '~/abstracts/fonts';
@use '~/abstracts/sizes';

// `tag` class:
//
// The `tag` class is a basic style for tags in musics. It can be extended with 8
// different colorized subclasses.
//
// Its size is determined in the `listing-entry-song` class, whether the song is
// displayed in compact or in expanded view.
.tag {
  background: colors.$placeholder-300;
  border-style: none;
  color: colors.$placeholder-000;
  display: inline-block;
  font-size: medium;
  font-weight: 700;
  outline: none;
  padding: 0 sizes.$gap-horizontal;

  &.clickable {
    cursor: pointer;

    .icon {
      font-size: 1.2em;
      margin-right: 0.5em;
    }

    &:hover:not(:focus) {
      background: colors.$placeholder-302;
    }

    &:focus {
      background: colors.$placeholder-303;
    }
  }

  &.disabled {
    background: colors.$placeholder-200;
  }

  &::selection {
    background: colors.$placeholder-200;
    color: colors.$placeholder-500;
  }
}
