//
// Dakara Project
//
// Rules aiming for all or generic tags style file
//

@use '~/abstracts/colors';
@use '~/abstracts/fonts';

// default colors and margins
body {
  background: colors.$text-dark;
  color: colors.$text-light;
  margin: 0;
  padding: 0;
}

// highlight tag
mark {
  background: colors.$primary-300;
  color: colors.$text-dark;
}

// selection highlighting
::selection {
  background: colors.$primary-300;
  color: colors.$text-dark;
}

// make headers thin and marginless
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

p {
  @include fonts.make-long;

  // links
  a {
    color: colors.$primary-310;
    text-decoration: underline;

    &:hover:not(:focus) {
      color: colors.$primary-320;
    }

    &:focus {
      color: colors.$primary-320;
    }
  }
}

ul {
  list-style-type: square;
}

// remove border radius from button in some browsers
button {
  border-radius: 0;
}
