//
// Dakara Project
//
// Controls style file
//

@use "~/thirdparty/preboot";

// `make-controls` function:
//
// The function has to be called wherever a `controls` class is used. It defines
// the size of the controls.
//
// Arguments:
//      $height: heigth and width of the control box.
//      $font-size: relative size of the text in the control.
//      $icon-size: relative size of the icon of the control. This value is made
//          independant of $font-size.
@mixin make-controls($height, $font-size: 1em, $icon-size: $font-size) {
    > .control,
    .subcontrols > .control {
        @include preboot.square($height);

        font-size: $font-size;
        min-width: $height;

        .icon {
            $size: calc($icon-size / $font-size * 1em);
            font-size: $size;
        }
    }
}
