//
// Dakara Project
//
// Listing details style file
//

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';
@use '~/abstracts/support';

// `details` class:
//
// The class behaves like a table in order to keep a column of labels of the
// same width. This does not go without consequenses, as a table element is
// difficult to style.
.details {
  $height: sizes.$subrow-height;
  border-collapse: separate;
  border-spacing: 0 sizes.$gap-vertical;
  display: table;
  width: 100%;

  @include support.make-smartphone {
    display: block;
    padding: sizes.$gap-vertical-smartphone 0;
  }

  .controls {
    @include controls.make-controls($height);
  }

  > .detail {
    display: table-row;

    @include support.make-smartphone {
      display: block;

      & + .detail {
        margin-top: sizes.$gap-vertical-smartphone;
      }
    }

    > .header {
      @include sizes.make-gap(padding, horizontal);

      & {
        display: table-cell;
        font-weight: normal;
        vertical-align: top;
        white-space: nowrap;
      }

      @include support.make-smartphone {
        display: block;
      }

      .name {
        line-height: $height;
      }

      .icon + .name {
        padding-left: 0.5em;
      }
    }

    > .content {
      background: colors.$neutral-120;
      color: colors.$neutral-420;
      display: table-cell;
      width: 100%;

      @include support.make-smartphone {
        display: block;
      }

      &.text,
      &.long-text > .paragraph,
      &.artist-widget,
      &.work-link-widget {
        @include sizes.make-vertical-row-padding(horizontal, 2);

        & {
          // allow words to break
          overflow: hidden;
          overflow-wrap: break-word;
        }
      }

      &.text {
        align-items: center;
        display: flex;
        min-height: calc($height - sizes.$gap-horizontal / 4 * 2 * 2);

        @include support.make-smartphone {
          min-height: calc(
            $height - sizes.$gap-horizontal-smartphone / 3 * 2 * 2
          );
        }
      }

      &.long-text {
        > .paragraph {
          white-space: pre-wrap;
          overflow-y: hidden;

          &:not(.expanded) {
            // hide after about 4 lines
            max-height: 4.4em;
          }
        }
      }

      // XXX to remove

      .sublisting-entry {
        // allow words to break
        overflow: hidden;

        // keep control buttons stretched
        .controls {
          align-self: stretch;

          .control {
            height: unset;
          }
        }
      }

      .song-tag-list {
        line-height: $height;

        .tag {
          height: $height;
        }
      }

      &.works {
        .sublisting-entry {
          .work-link-widget {
            display: block;
            flex: 1;
            white-space: unset;

            .title-group {
              white-space: unset;
            }

            .link {
              font-size: 0.81em;
            }
          }
        }
      }

      &.artists-widget {
        .artist {
          flex: 1;
        }
      }
    }
  }

  &:empty + .instrumental {
    padding-top: sizes.$gap-vertical;
  }
}
