//
// Dakara project
//
// Notifications style file
//

@use '~/abstracts/colors';
@use '~/abstracts/sizes';
@use '~/abstracts/support';
@use '~/abstracts/transitions';

// `notification` class:
//
// The notification class defines the look and feel of notification messages.
// It does not defines how the notification should appear. For this, use the
// `notified` class on the element and the `notifiable` class on its parent
// element.
.notification {
  box-sizing: border-box;

  .message {
    @include sizes.make-gap(padding, horizontal);
  }
}

// `notifiable` class:
//
// The notifiable class provides the way to make the notifiation appear. It also
// contains rules for animations in the right corner of the notification banner.
.notifiable {
  overflow: hidden;
  position: relative;

  .notified {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include transitions.make-transition(left, $from: 100%, $to: 0);

    .notification {
      display: flex;
      min-height: 100%;

      .message {
        align-items: center;
        display: flex;
        flex: 1;
      }
    }
  }
}

// `notifiable-for-table` class:
//
// The notifiable class for table provides the equivalent notifiable class
// rules, adapted for a table.
//
// This class must be used in the cell of the first column.
.notifiable-for-table {
  height: 100%;
  position: relative;

  .notifiable {
    // make the element ensensitive to clicks and restore it right after
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;

    .notified {
      pointer-events: initial;
    }
  }
}
