//
// Dakara project
//
// Searchbox style file
//

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';

// `searchbox` class:
//
// Query box for searching items in a library.
.searchbox {
  .set {
    .field {
      flex: 1;

      .fake {
        display: flex;
        padding-right: 0;

        .faked {
          flex: 1;
        }
      }
    }
  }

  .transition {
    margin: 0;

    &.collapse-enter.collapse-enter-active,
    &.collapse-exit:not(.collapse-exit-active) {
      max-height: 4 * sizes.$row-height;
    }
  }

  .help {
    @include sizes.make-gap(padding, top);

    q {
      &::before,
      &::after {
        content: '';
      }
    }
  }
}
