//
// Dakara project
//
// Searchbox style file
//

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';

// `searchbox` class:
//
// Query box for searching items in a library.
.searchbox {
  .set {
    .field {
      flex: 1;

      .fake {
        display: flex;
        padding-right: 0;

        .faked {
          flex: 1;
        }
      }
    }
  }

  .help {
    &.preEnter {
      max-height: 0;
      overflow: hidden;
    }

    &.entering {
      max-height: 3 * sizes.$row-height;
      overflow: hidden;
      transition: max-height 300ms ease-out;
    }

    &.entered {
      max-height: 3 * sizes.$row-height;
    }

    &.exiting {
      max-height: 0;
      overflow: hidden;
      transition: max-height 150ms ease-out;
    }

    &.unmounted {
      display: none;
    }

    q {
      &::before,
      &::after {
        content: '';
      }
    }
  }
}
