//
// Dakara Project
//
// User widget style file
//

@use '~/thirdparty/preboot';

.user-widget {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;

  &.truncatable {
    .name {
      @include preboot.text-truncate();
    }
  }

  .icon + .name {
    margin-left: 0.25em;
  }
}
