//
// Dakara Project
//
// User widget style file
//

@use "style/base/media_query";

.user-widget {
    white-space: nowrap;

    &:not(.no-resize) {
        @include media_query.make-smartphone {
            font-size: 0.85em;
        }
    }

    .icon {
        margin-right: 0.5em;
    }
}
