//
// Dakara Project
//
// Song style file
//


@import "work_link";
@import "play_queue_info";
@import "disabled_feedback";


// `song` class:
//
// This class stylizes a song independently of its use (as a single item or as
// part of a listing).
.song {
    display: flex;
    position: relative;
    overflow-y: hidden;
    height: @listing-entry-height;
    white-space: nowrap;
    align-items: center;

    .general {
        flex-grow: 1;
        display: flex;
        align-items: baseline;
        overflow: hidden;

        // `header` class: song's main info.
        .header {
            flex-grow: 1;
            .text-truncate();

            .title {
                font-size: 1.05em;
            }

            .version {
                margin-left: 0.5em;
                opacity: 0.65;
            }
        }

        // `artist-work` class: collapsed info for the song artists and works.
        .artist-work {
            .make-gap(margin, right);
            display: flex;
            flex-direction: column;
            text-align: right;
            font-size: 0.9em;
            overflow: hidden;

            .make-smartphone({
                text-align: left;
            });

            .artists {
                .text-truncate();

                .artist:not(:last-child)::after {
                    content: ", ";
                }
            }
        }
    }

    // `duration` class: show song duration.
    .duration {
        font-size: 0.85em;
        line-height: @listing-entry-height;
        width: @listing-entry-height;
        background: @text-light;
        color: @neutral-mid;
        text-align: center;
        flex-shrink: 0;
    }

    // `song-tag-list` subclass: tag songs.
    // The subclass only specifes the location of the tags.
    .song-tag-list {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.65em;
        line-height: 1em;

        .make-smartphone({
            font-size: 0.5em;
            line-height: 0.9em;

            .tag {
                color: fade(@text-dark, 65%);
            }
        });

        .tag {
            font-size: inherit;
        }
    }
}

// alteration of colors when used in a listing
.listing-entry {
    &:nth-child(2n) {
        .duration {
            background: @neutral-clear-light;
        }
    }

    .hoverizable:hover,
    &.hoverizable:hover {
        .duration {
            background: @neutral-clear-lighter;
        }
    }
}
