//
// Dakara Project
//
// Song style file
//


@import "work_link";
@import "play_queue_info";


// `song` class:
//
// This class stylizes a song independently of its use (as a single item or as
// part of a listing).
.song {
    display: flex;
    position: relative;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;

    &.with-artist-and-work .general {
        align-items: center;
    }

    .general {
        flex-grow: 1;
        display: flex;
        align-items: baseline;
        overflow: hidden;

        // `header` class: song's main info.
        .header {
            flex-grow: 1;
            .text-truncate();

            .title {
                font-size: 1.05em;
            }

            .version {
                margin-left: 0.5em;
                opacity: 0.65;
            }
        }

        // `artist-work` class: collapsed info for the song artists and works.
        .artist-work {
            .make-gap(margin, right);
            display: flex;
            flex-direction: column;
            text-align: right;
            font-size: 0.9em;
            overflow: hidden;

            .make-smartphone({
                text-align: left;
            });

            .artists {
                .text-truncate();

                .artist:not(:last-child)::after {
                    content: ", ";
                }
            }
        }
    }

    // `duration` class: show song duration.
    .duration {
        font-size: 0.85em;
        line-height: @listing-entry-height;
        width: @listing-entry-height;
        background: @text-light;
        color: @neutral-mid;
        text-align: center;
        flex-shrink: 0;
        align-self: flex-start;
    }

    // `song-tag-list` subclass: tag songs.
    // The subclass only specifes the location of the tags.
    .song-tag-list {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.65em;
        line-height: 1em;

        .make-smartphone({
            font-size: 0.5em;
            line-height: 0.9em;

            .tag {
                color: fade(@text-dark, 65%);
            }
        });

        .tag {
            font-size: inherit;
        }
    }

    // `disabled` optionnal class: when the song has been disabled.
    // The class colors the song in blue and adds a slashed-eye icon.
    &.disabled {
        @background: hsl(hue(@brand-info), 10%, lightness(@neutral-mid));
        @foreground: desaturate(@brand-info-darkish, 25%);
        background-color: @background;
        color: @foreground;

        .general {
            .header {
                .title {
                    &::before {
                        font-family: fontawesome;
                        content: "\f070"; // slashed-eye icon
                        font-size: 1.1em;
                        margin-right: 0.4em;
                    }
                }
            }
        }

        .duration {
            background-color: @foreground;
            color: @background;
        }
    }
}

// alteration of colors when used in a listing
.listing-entry {
    &:nth-child(2n) {
        .song {
            .duration {
                background: @neutral-clear-light;
            }

            &.disabled {
                background-color: hsl(hue(@brand-info), 10%, lightness(@neutral-mid-light));

                .duration {
                    background-color: lighten(desaturate(@brand-info-darkish, 25%), 2.5%);
                }
            }
        }
    }

    .hoverizable:hover,
    &.hoverizable:hover {
        .song {
            .duration {
                background: @neutral-clear-lighter;
            }

            &.disabled {
                background-color: hsl(hue(@brand-info), 10%, lightness(@neutral-mid-lighter));

                .duration {
                    background-color: lighten(desaturate(@brand-info-darkish, 25%), 7%);
                }
            }
        }
    }
}
