//
// Dakara Project
//
// Work link style file
//


// `work-display` class:
//
// This module is used to style a work link, ie. a work and its link to the
// song.
.work-link {
    flex-shrink: 2;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    overflow: hidden;

    .work-link-item:not(:last-child) {
        margin-right: 0.5em;
    }

    // `title-groud` class: title and subtitle of the work.
    .title-group {
        .text-truncate();

        .title {
        }

        .subtitle {
            opacity: 0.65;
        }
    }

    // `link` class: the type of the link (OP, ED) and a number if any.
    .link {
        text-transform: uppercase;
        font-size: 0.9em;
        line-height: 2em;
        border-style: solid;
        border-width: 1px;
        border-color: fade(@text-light, 65%);
        padding: 0 0.2em;

        .link-type {
        }

        .link-nb {
        }
    }

    // `episodes` class: episodes concerned by this work link.
    .episodes {
    }

    // `icon` class: the icon of the work.
    .icon {
    }
}
