//
// Dakara Project
//
// Song style file
//


@import "work_link";
@import "play_queue_info";


// `song` class:
//
// This class stylizes a song independently of its use (as a single item or as
// part of a listing).
.song {
    align-items: center;
    display: flex;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;

    &.with-artist-and-work .general {
        align-items: center;
    }

    .general {
        align-items: baseline;
        display: flex;
        flex-grow: 1;
        overflow: hidden;

        // `header` class: song's main info.
        .header {
            @include text-truncate();

            flex-grow: 1;

            .title {
                font-size: 1.05em;
            }

            .version {
                margin-left: 0.5em;
                opacity: 0.65;
            }
        }

        // `artist-work` class: collapsed info for the song artists and works.
        .artist-work {
            display: flex;
            flex-direction: column;
            font-size: 0.9em;
            overflow: hidden;
            text-align: right;

            @include make-smartphone {
                display: none;
            }

            .artists {
                @include text-truncate();

                .artist:not(:last-child)::after {
                    content: ", ";
                }
            }
        }
    }

    // `duration` class: show song duration.
    .duration {
        align-items: center;
        align-self: stretch;
        background: $text-light;
        color: $neutral-mid;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: 0.85em;
        justify-content: center;
        min-width: $listing-entry-height;
    }

    // `song-tag-list` subclass: tag songs.
    // The subclass only specifes the location of the tags.
    .song-tag-list {
        font-size: 0.65em;
        left: 0;
        line-height: 1em;
        position: absolute;
        top: 0;

        .tag {
            font-size: inherit;
        }
    }

    // `disabled` optionnal class: when the song has been disabled.
    // The class colors the song in blue and adds a slashed-eye icon.
    &.disabled {
        $background: hsl(hue($brand-info), 10%, lightness($neutral-mid));
        $foreground: desaturate($brand-info-darkish, 25%);
        background-color: $background;
        color: $foreground;

        .general {
            .header {
                .title {
                    &::before {
                        content: "\f070"; // slashed-eye icon
                        font-family: fontawesome;
                        font-size: 1.1em;
                        margin-right: 0.4em;
                    }
                }
            }
        }

        .duration {
            background-color: $foreground;
            color: $background;
        }
    }
}

// alteration of colors when used in a listing
.listing-entry {
    &:nth-child(2n) {
        .song {
            .duration {
                background: $neutral-clear-light;
            }

            &.disabled {
                background-color: hsl(hue($brand-info), 10%, lightness($neutral-mid-light));

                .duration {
                    background-color: lighten(desaturate($brand-info-darkish, 25%), 2.5%);
                }
            }
        }
    }

    .hoverizable:hover,
    &.hoverizable:hover {
        .song {
            .duration {
                background: $neutral-clear-lighter;
            }

            &.disabled {
                background-color: hsl(hue($brand-info), 10%, lightness($neutral-mid-lighter));

                .duration {
                    background-color: lighten(desaturate($brand-info-darkish, 25%), 7%);
                }
            }
        }
    }
}
