//
// Dakara Project
//
// Song library entry style file
//

// `library-entry-song` subclass:
//
// This class is a specialization of the `listing-entry` class defined in the
// `listing` module. It is aimed to stylize the specific elements of a list of
// songs.
//
// The song can be represented in a compact, one-line view or in an expanded,
// multi-lines view. More elements are present in the expanded view, which takes
// usually more space and have larger margins compared to the compact view. The
// compact view stays even if the expandes view is displayed, it only contains
// less elements. The expanded view has a appearance/disappearance animation
// where the expanded line grows or shrink vertically from the top.
//
// This list entry is not hoverizable, in order to make only the compact view
// react to hover.
#song-library {
  .one-line {
    .main {
      position: relative;

      .song-widget {
        align-items: inherit;
        display: flex;
        flex-grow: 1;

        // flush content to the right to:
        // relations if relations is present,
        // or duration after version if no relations and version is present,
        // or duration after title if no relations and no version
        .relations,
        .version + .duration,
        .title + .duration {
          margin-left: auto;
        }

        .relations {
          flex-direction: column;
          font-size: 0.9em;

          // `align-items: flex-end` prevents the entire block to be
          // truncatable
          .artist-widget:first-child,
          .work-link-widget:first-child {
            margin-left: auto;
          }
        }
      }
    }
  }
}
