//
// Dakara Project
//
// Work library style file
//

@use '~/abstracts/sizes';

#work-library {
  .one-line {
    .main {
      & {
        align-items: center;
      }

      @include sizes.make-gap(padding, horizontal);

      .work-widget {
        flex-grow: 1;

        .count {
          margin-left: auto;
        }
      }
    }
  }
}
