//
// Dakara Project
//
// Notification for player status style file
//


// kara status notification sizes
$kara-status-notification-height: $form-field-height + 2 * $gap-vertical;


// `kara-status-notification` class: message displayed to the playlist
// manager when the kara is stopped.
#kara-status-notification {
    @include make-gap(padding, vertical);
    align-items: center;
    background: $brand-primary-darker;
    color: $brand-primary;
    display: flex;
    padding: $gap-vertical 0;

    .message {
        flex: 1;
        margin-bottom: 0;
        margin-top: 0;
    }

    .control {
        @include make-gap(padding, horizontal);
        font-size: $form-control-font-size;
        line-height: $form-field-height;
    }
}
