//
// Dakara Project
//
// Tags style file
//

// `tag` class:
//
// The `tag` class is a basic style for tags in musics. It can be extended with 8
// different colorized subclasses.
//
// Its size is determined in the `listing-entry-song` class, whether the song is
// displayed in compact or in expanded view.
.tag {
    padding: 0 @gap-horizontal;
    display: inline-block;
    color: fade(@text-dark, 50%);
    font-weight: 700;

    &.clickable {
        cursor: pointer;

        i {
            margin-right: 0.5em;
            font-size: 1.2em;
        }
    }

    &.disabled {
        opacity: 0.5;
    }

    .make-tag(@color) {
        background-color: @color;

        &.clickable {
            &:hover {
                background-color: lighten(@color, 5%);
            }
        }

        &.disabled {
            background-color: desaturate(@color, 50%);
        }
    }

    &.color-0 {
        .make-tag(#1b9e77); 
    }
    &.color-1 {
        .make-tag(#d95f02); 
    }
    &.color-2 {
        .make-tag(#7570b3); 
    }
    &.color-3 {
        .make-tag(#e7298a); 
    }
    &.color-4 {
        .make-tag(#66a61e); 
    }
    &.color-5 {
        .make-tag(#e6ab02); 
    }
    &.color-6 {
        .make-tag(#a6761d); 
    }
    &.color-7 {
        .make-tag(#666666); 
    }
}

