//
// Dakara Project
//
// User page style file
//


#user {
    .box-header {
        display: flex;
        justify-content: space-between;

        .permissions {
            text-align: right;
        }
    }

    .form {
        .make-gap(padding, vertical);
    }
}
