//
// Dakara Project
//
// Extra rules style file
//

// make links transparent
a {
    color: inherit;
    text-decoration: none;
}

// highlight tag
mark {
    background: @brand-primary;
    color: @text-dark;
}

// selection highlighting
// Firefox seems to still use its vendor pseudo selector, moreover we cannot
// define the standard selector and Firefox' on the same line
* {
    .selection() {
        background: @brand-primary;
        color: @text-dark;
    }

    &::-moz-selection {
        .selection;
    }

    &::selection {
        .selection;
    }
}
