//
// Dakara Project
//
// Users management page style file
//


@import "edit";


#users-list {
    .users-list {
        .username {
            padding-left: @gap-horizontal;
            text-align: left;
        }

        .permission {
            text-align: center;
        }

        .superuser {
            font-size: 1.5em;
        }
    }

    .form {
        padding: @gap-vertical 0;
    }
}
