//
// Dakara project
//
// Library style file
//


@import "song";
@import "artist";
@import "work";


// `library` id:
//
// This component stylises the library, which contains a library chooser, a
// searchbox, a container of library entries and a navigator.
#library {

    // Query box for searching items depending on the page
    // That is, songs for Songs library, artists for Artists library and works
    // (anime, game...) for Works library
    .library-searchbox {
        background: @brand-primary-darker;
        .make-gap(padding, vertical);

        .set {
            .field {
                flex: 1;

                .fake {
                    display: flex;
                    padding-right: 0;

                    .faked {
                        flex: 1;
                    }

                    .controls {
                        .make-controls(@form-field-height, 1.25em);
                    }
                }
            }
        }

        .controls {
            > .control .icon {
                font-size: 1.4em;
                line-height: 1.4em;
            }
        }
    }

    // Here goes the styles for the library pages
    // These pages are:
    //     Songs library,
    //     Artists library,
    //     Works library (and all the different works, like Anime, Game...)
    // The current class gathers all the common elements needed by the different pages
    .library-list {
        min-height: 10 * @listing-entry-height;
        background: darken(@neutral-mid, 3%);
    }

    // Navigator for choosing which library to display
    // The different libraries are Songs (which is the home library), Artists and all the
    // different Works (animes, games...)
    .library-chooser {
        // This is a common library tab, it has to be of neutral color
        .tab {
            // spread the width of the tabs to fill all the space
            flex: 1;

            .make-smartphone({
                &:not(.active) {
                    flex: 0 0 auto;
                }
            });
        }

        // This is the home library tab, it has to stand out even when not
        // selected, but not too much
        .home {
            flex: initial;
        }
    }
}
