//
// Dakara Project
//
// Song library entry style file
//


// `library-entry-song` subclass:
//
// This class is a specialization of the `listing-entry` class defined in the
// `listing` module. It is aimed to stylize the specific elements of a list of
// songs.
//
// The song can be represented in a compact, one-line view or in an expanded,
// multi-lines view. More elements are present in the expanded view, which takes
// usually more space and have larger margins compared to the compact view. The
// compact view stays even if the expandes view is displayed, it only contains
// less elements. The expanded view has a appearance/disappearance animation
// where the expanded line grows or shrink vertically from the top.
//
// This list entry is not hoverizable, in order to make only the compact view
// react to hover.
.library-entry.library-entry-song {
    // `library-entry-song-compact` class: song compact view.
    // This class must be used with the `hoverizable` subclass.
    .library-entry-song-compact {
        display: flex;

        // `song` subclass: the song itself.
        .song {
            flex: 1;
            cursor: pointer;
            .make-gap(padding, left);

            .make-smartphone({
                .general {
                    flex-direction: column;
                    align-items: initial;

                    .work-link {
                        .work-link.make-reverse();
                    }

                    .artists {
                        text-align: left;
                    }

                    // for small devices, hide the artist if there is one work
                    .work-link + .artists {
                        display: none;
                    }
                }
            });
        }
    }

    // `library-entry-song-expanded` class: song expanded view.
    // It should not be used with the `hoverized` subclass, otherwise some hover
    // will be wrong.
    // The class behaves like a table in order to keep a column of labels of the
    // same width. This does no go without consequenses, as a table element is
    // difficult to style.
    .library-entry-song-expanded {
        @height: @sublisting-entry-height;
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 @gap-vertical;

        .make-smartphone({
            border-spacing: 0 @gap-vertical-smartphone;
        });

        .expanded-item {
            display: table-row;

            &:not(:last-child) {
                .make-gap(padding, bottom, 0.5);
            }

            .header {
                display: table-cell;
                font-weight: normal;
                white-space: nowrap;
                vertical-align: top;
                .make-gap(padding, horizontal);

                .make-smartphone({
                    display: block;
                });

                .icon {
                }

                .name {
                   padding-left: 0.5em; 
                   line-height: @height;
                }
            }

            .text, .song-tag-list {
                background: darken(@neutral-mid, 2%);
            }

            .text {
                line-height: @height;
                .make-gap(padding, horizontal);
            }

            .song-tag-list {
                line-height: @height;

                .make-smartphone({
                    overflow-y: auto;
                });

                .tag {
                    height: @height;
                }
            }

            .work-link {
                .link {
                    display: inline;
                }
            }

            &.lyrics .text {
                white-space: pre-line; // TODO change that
                line-height: 1.5em;
                padding-top: 2 * @gap-horizontal / 3;
                padding-bottom: 2 * @gap-horizontal / 3;

                .truncated::after {
                    content: "…";
                    font-size: 1.5em;
                    line-height: 0;
                }
            }
        }

        .artists {
            .artist {
                flex: 1;
                .make-gap(padding, horizontal);
            }
        }

        .works {
            .work-link {
                flex: 1;
                .make-gap(padding, horizontal);

                .link {
                    font-size: 0.81em;
                }
            }
        }
    }

    // `library-entry-song-expanded-wrapper` class: wrapper class to enable or
    // disable the expanded view.
    // This wrapper is mandatory because `library-entry-song-expanded` is a
    // table and thus its `max-height` property cannot be animated.
    .library-entry-song-expanded-wrapper {
        // appearance transition of the expanded view
        &.expand-view-enter {
            overflow: hidden;
            max-height: 0;

            &.expand-view-enter-active {
                max-height: 10 * 0.75 * @listing-entry-height;
                transition: max-height 600ms ease-out;
            }
        }

        // disappearance transition of the expanded view
        &.expand-view-exit {
            overflow: hidden;
            max-height: 10 * 0.75 * @listing-entry-height;

            &.expand-view-exit-active {
                max-height: 0;
                transition: max-height 300ms ease-out;
            }
        }
    }
}
