//
// Dakara Project
//
// Work and artist library entry style file
//


// `library-entry-work` subclass,
// `library-entry-artist` subclass:
//
// This class is a specialization of the `listing-entry` class defined in the
// `listing` module. It is aimed to stylize the common elements of a work and an
// artist.
.library-entry.library-entry-work,
.library-entry.library-entry-artist {
    display: flex;

    .library-entry-work-artist-display {
        flex: 1;
        display: flex;
        align-items: center;

        // allow words to break (necessary for header)
        overflow: hidden;

        .header {
            flex: 1;

            // allow words to break
            overflow: hidden;
            overflow-wrap: break-word;

            .make-vertical-row-padding(horizontal);
        }

        .songs-amount {
            background: @neutral-clear;
            font-size: 0.85em;
            width: @listing-entry-height;
            color: @neutral-mid;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;

            .icon {
                padding-right: 0.5em;
            }
        }
    }

    &:nth-child(2n) .songs-amount {
        background: @neutral-clear-light;
    }

    &:hover .songs-amount {
        background: @neutral-clear-lighter;
    }
}
