//
// Dakara Project
//
// Work library entry style file
//


// `library-entry-work` subclass:
//
// This class is a specialization of the `listing-entry` class defined in the
// `listing` module. It is aimed to stylize the specific elements of a work.
.library-entry.library-entry-work {
    .library-entry-work-artist-display {
        .header {
	    display: flex;
	    
	    .title {
	    }

	    .subtitle {
		opacity: 0.65;
		margin-left: 0.5em;
	    }

	    .alternative_titles {
		flex: 1;
		align-self: flex-end;
		padding-left: 1.5em;
		text-align: right;
		
		.make-vertical-row-padding();

		.alternative_title {
		}
	    }
        }
    }
}
