//
// Dakara Project
//
// Work library entry style file
//


// `library-entry-work` subclass:
//
// This class is a specialization of the `listing-entry` class defined in the
// `listing` module. It is aimed to stylize the specific elements of a work.
.library-entry.library-entry-work {
    .library-entry-work-artist-display {
        .header {
            display: flex;

            .titles {
                .complete-title {
                    display: inline;
                    
                    .title {
                    }

                    .subtitle {
                        opacity: 0.65;
                        margin-left: 0.5em;
                    }
                }

                .alternative-titles {
                    margin-top: 0.5em;
                    
                    .alternative-title {
                        display: inline-block;
                        opacity: 0.85;
                    }

                    .alternative-title:not(:last-child)::after {
                        content: ", ";
                        white-space: pre;
                    }
                }
            }
        }
    }
}
