//
// Dakara Project
//
// Work library entry style file
//


// `library-entry-work` subclass:
//
// This class is a specialization of the `listing-entry` class defined in the
// `listing` module. It is aimed to stylize the specific elements of a list of
// works.
.library-entry.library-entry-work {
    display: flex;

    .library-entry-work-display {
        flex: 1;
        display: flex;
        align-items: center;

        .header {
            flex: 1;
            line-height: @listing-entry-height;
            padding: 0 @gap-horizontal;

            .subtitle {
                opacity: 0.65;
                margin-left: 0.5em;
            }
        }

        .songs-amount {
            background: @neutral-clear;
            font-size: 0.85em;
            line-height: @listing-entry-height;
            width: @listing-entry-height;
            color: @neutral-mid;
            text-align: center;

            .icon {
                padding-right: 0.5em;
            }
        }
    }

    &:nth-child(2n) .songs-amount {
        background: @neutral-clear-light;
    }

    &:hover .songs-amount {
        background: @neutral-clear-lighter;
    }
}
