//
// Dakara Project
//
// Queuing playlist style file
//

@use '~/abstracts/sizes';
@use '~/abstracts/transitions';

#queuing {
  .listing-entry {
    .reorder {
      display: inherit;
      gap: inherit;
      overflow: hidden;

      @include transitions.make-transition(
        max-width,
        $from: 0,
        $to: 3 * sizes.$row-height
      );
    }
  }
}
