//
// Dakara Project
//
// Playlist app style file
//


@import "playlist_info_bar";
@import "player";
@import "kara_status_notification";


#playlist-app {
}

#playlist-app-wrapper {
    position: sticky;

    @media (max-height: 2 * @player-height) {
        position: relative;
    }

    .make-smartphone({
        @media (max-height: 2 * @player-height-smartphone) {
            position: relative;
        }
    });

    top: 0;
    z-index: 1000;
}
