//
// Dakara Project
//
// Player style file
//


// player sizes
@player-controls-height: 7rem;
@player-progressbar-height: 0.4rem;
@player-height: 2 * @gap-vertical + @player-controls-height + @player-progressbar-height;
@player-height-smartphone: 2 * @gap-vertical-smartphone + 2 * @row-height * 0.6 + @gap-vertical-smartphone + @player-progressbar-height;


// `player` id:
//
// This component stylizes the player, containing controls, song info and a
// progression bar.
#player {
    background: @brand-primary-darker;
    color: @brand-primary;

    // `first-line` class: the main part of the player displays the current
    // song, its numerical progression and the controls of the player.
    .first-line {
        display: flex;
        align-items: center;
        .make-gap(padding, vertical);

        .display-area {
            .make-gap(margin, left);
            overflow: hidden;
            width: 100%;
            height: @player-controls-height;

            .notified {
                .animation {
                    line-height: @player-controls-height;
                }
            }
        }

        // `song-container` class: container for info of the song.
        .playlist-entry {
            display: flex;

            overflow: hidden;

            // `song` subclass: the song itself.
            .song {
                .make-gap(margin, right);
                height: @player-controls-height;
                flex-direction: column;
                align-content: flex-start;
                align-items: initial;
                overflow: hidden;

                // remove special colors of disabled songs
                &.disabled {
                    color: inherit;
                    background-color: unset;
                }

                .general {
                    flex-direction: column;
                    align-items: initial;
                }

                .header {
                    flex-grow: initial;
                    font-size: 1.45em;
                    font-weight: 300;

                    .title {
                    }

                    .version {
                    }
                }

                .artist-work {
                    margin: 0;

                    .artists {
                        text-align: left;
                    }

                    .work-link {
                        .work-link.make-reverse();

                        .link {
                            border-color: shade(@brand-primary, 25%);
                        }
                    }
                }
            }

            .extra {
                .make-gap(margin, right);
                display: flex;
                flex-direction: column;
                overflow: hidden;

                // shrink the extra class element first when resizing, up to the
                // width of the duration (4 digits plus one colon)
                flex: 1;
                min-width: 4.5ch;

                .make-extra(@ratio-extra, @ratio-timing, @font-weight-current, @font-weight-duration) {
                    @height-timing: @ratio-extra * @player-controls-height * 0.95;
                    @height-owner: (1 - @ratio-extra) * @player-controls-height;
                    font-size: @height-timing * @ratio-timing;

                    .timing {

                        .current {
                            font-size: @height-timing * @ratio-timing;
                            line-height: @height-timing * @ratio-timing;
                            font-weight: @font-weight-current;
                        }

                        .duration {
                            font-size: @height-timing * (1 - @ratio-timing);
                            line-height: @height-timing * (1 - @ratio-timing);
                            font-weight: @font-weight-duration;
                        }
                    }

                    .owner {
                        font-size: initial;
                        line-height: @height-owner;
                    }
                }

                .make-extra(0.8, 0.7, 100, initial);
                .make-smartphone({
                    .make-extra(0.7, 0.6, 100, 300);
                });

                // `song-timing` class: current progression of the song in numerical
                // form.
                .timing {
                    @ratio-timing: 0.6;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: right;

                    .current {
                    }

                    .duration {
                        opacity: 0.85;
                    }
                }

                // `playlist-entry-owner` class: owner of the playlist entry.
                .owner {
                    text-align: right;
                    overflow: hidden;

                    .user-widget {
                        .text-truncate();

                        .icon {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

    // `progressbar` class: supplementary visual indicator of the song current
    // progression.
    .progressbar {
        width: 100%;
        height: @player-progressbar-height;
        display: block;

        // reset default style
        appearance: none;
        border: none;

        &[value] {
            .make-bar() {
                background: transparent;
            }

            .make-value() {
                background: @brand-primary-dark;
            }

            // for webkit
            &::-webkit-progress-bar {
                .make-bar();
            }

            &::-webkit-progress-value {
                .make-value();
            }

            // for firefox
            &::-moz-progress-bar {
                .make-value();
            }

            // for firefox and ie
            .make-bar();

            // for ie
            color: @brand-primary-dark;

            // fallback styling
            .bar {
                .make-bar();

                .value {
                    height: 100%;
                    .make-value();
                }
            }
        }

        &:not([value]),
        &:indeterminate {
            @keyframes sliding-animation {
                to {
                    background-position-x: sqrt(2) * 4rem;
                }
            }

            .make-bar() {
                background: repeating-linear-gradient(
                -45deg,
                @brand-primary-dark,
                @brand-primary-dark 2rem,
                @brand-primary-darker 2rem,
                @brand-primary-darker 4rem
                );

                animation: sliding-animation 1s linear infinite;
            }

            // for webkit
            &::-webkit-progress-bar {
                // it does not seem to work for now
                .make-bar();
            }

            // firefox considers that the bar is at 100%
            &::-moz-progress-bar {
                background: transparent;
            }

            // for firefox and ie
            .make-bar();
        }
    }

    // `controls` subclass: buttons of the player.
    .controls {
        .control {
            overflow: hidden;
            position: relative;

            &.managed-error .managed.managed-enter {
                left: -100%;
            }

            .managed {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                // appearance transition
                &.managed-enter {
                    left: 100%;

                    &.managed-enter-active {
                        left: 0;
                        transition: left 150ms ease-out;
                    }
                }

                // appearance transition
                &.managed-exit {
                    left: 0;

                    &.managed-exit-active {
                        left: -100%;
                        transition: left 150ms ease-out;
                    }
                }
            }
        }
    }

    .controls.main {
        .make-controls(@player-controls-height, 1.66em);

        .make-smartphone({
            .make-controls(@row-height * 0.6, 1.1em);
            flex-direction: column;

            > .control {
                width: @row-height;
                margin: 0;

                &:not(:last-child) {
                    margin-bottom: @gap-vertical-smartphone;
                }
            }
        });
    }

    // this second line of controls has been deactivated
    .controls.other {
        overflow: hidden;
        .make-gap(padding, bottom);
        transition: height 150ms,
                    padding-bottom 150ms;

        &.reduced {
            height: 0;
            padding-bottom: 0;
            transition: height 150ms,
                        padding-bottom 150ms;
        }

        .make-controls(@row-height * 0.6, 1.1em);

        > .control {
            width: @row-height;
        }
    }
}
