//
// Dakara Project
//
// Playlist app style file
//


@import "playlist_info_bar";
@import "player";
@import "kara_status_notification";


#playlist-app {
    position: sticky;
    top: 0;
    z-index: 1000;

    // If the viewport is not height enough, let the component where it is
    // supposed to be. This avoids to hide the search box of the library when
    // the visual keyboard is on, on a smartphone.
    @media (max-height: 2 * @player-height) {
        position: relative;
    }

    .make-smartphone({
        @media (max-height: 2 * @player-height-smartphone) {
            position: relative;
        }
    });
}
