//
// Dakara Project
//
// Footer style file
//


footer {
    padding: @gap-vertical 0;
    background: @black-80;
    text-align: right;

    h3 {
        margin: 0;
        font-size: 1.25em;
        font-weight: 300;
    }

    .version {
        margin-top: 0;
        margin-bottom: 0;
    }
}
