//
// Dakara Project
//
// Footer style file
//


#footer {
    height: @tab-bar-height;
    line-height: @tab-bar-height * 0.9;
    background: darken(@neutral-mid, 3%);
    text-align: right;

    h2 {
        font-size: x-large;

        .version {
            font-size: 0.6em;
            font-weight: 300;
        }
    }
}
