//
// Dakara Project
//
// Header style file
//


#header {
    background: darken(@neutral-mid, 3%);
    height: @tab-bar-height;
    display: flex;
    justify-content: space-between;

    h1 {
        padding: 0 @gap-horizontal;
        line-height: @tab-bar-height * 0.9;
        font-size: xx-large;
    }

    .menu {
        .tab.squared {
            width: @tab-bar-height;
            padding: 0;

            .icon {
                font-size: 1.5em;
            }
        }
    }
}
