//
// Dakara Project
//
// Header style file
//


// header sizes
@header-height: @tab-bar-height;

#header {
    background: darken(@neutral-mid, 3%);
    height: @header-height;
    display: flex;
    justify-content: space-between;

    h1 {
        padding: 0 @gap-horizontal;
        line-height: @tab-bar-height * 0.9;
        font-size: xx-large;
    }
}
