//
// Dakara Project
//
// Main div style file
//


#main {
    .center-block();
    max-width: @page-width-max;
    min-width: @page-width-min;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}
