//
// Dakara Project
//
// Main div style file
//


#main {
    .make-desktop({
        .center-block();
        max-width: @page-width-max;
    });

    // disable grid for now
    // display: grid;
    // grid-template-rows: auto auto 1fr auto;

    // use flex instead
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

#content {
    flex-grow: 1;
}
