//
// Dakara Project
//
// Tags management page style file
//

#tag-list {
    background: darken(@black-80, 5%);

    > .header {
        padding: @gap-vertical 0;
        background: @brand-primary-darker;
        color: @brand-primary-light;
    }

    .tag-list-listing {
        .name {
            padding-left: @gap-horizontal;
            text-align: left;
        }

        .color {
            text-align: center;
        }

        .enabled {
            text-align: center;
            font-size: 1.5em;
        }
    }

    .navigator {
        background: @brand-primary-darker;
        color: @brand-primary-light;
    }
}
