//
// Dakara Project
//
// Tags management page style file
//

#tag-list {
    background: darken(@black-80, 5%);

    > .header {
        padding: @gap-vertical 0;
        background: @brand-primary-darker;
        color: @brand-primary-light;
    }

    .tag-list-listing {
        .name {
            padding-left: @gap-horizontal;
            text-align: left;
        }

        .listing-header .color {
            padding-right: @gap-horizontal;
            text-align: right;
        }

        .color .field {
            flex: 1;
        }

        .set {
            padding: 0;
        }

        .color, .enabled {
            .form {
                justify-content: center;
                height: @listing-entry-height;
            }
        }

        .controls-col {
            width: initial;
        }

        .color-form-notified {
            display: flex;

            .form {
                flex: 1;
            }
        }

        .listing-entry {
            .display-color-form {
                background: hsl(0, 0.5, 50%);

                &:focus {
                    background: hsl(0, 0.5, 57%);
                }
            }

            &:hover .display-color-form {
                background: hsl(0, 0.5, 55%);
            }
        }
    }

    .navigator {
        background: @brand-primary-darker;
        color: @brand-primary-light;
    }
}
