//
// Dakara Project
//
// User page style file
//


#user {
    background: darken(@black-80, 5%);

    > .header {
        display: flex;
        justify-content: space-between;
        padding: @gap-vertical 0;
        background: @brand-primary-darker;
        color: @brand-primary-light;

        .permissions {
            text-align: right;
        }
    }

    .form {
        padding: @gap-vertical 0;
    }
}
