//
// Dakara Project
//
// User page style file
//


#user {
    background: darken(@black-80, 5%);
    padding-bottom: @gap-vertical;

    > .header {
        padding: @gap-vertical 0;
        background: @brand-primary-darker;
        color: @brand-primary-light;

    }

    > .permissions {
        padding: @gap-vertical * 0.5;
    }
}
