//
// Dakara Project
//
// Box style file
//


.box {
    .box-shadow(0 0 2rem fade(black, 50%));
    overflow: hidden;

    &:not(footer) {
        margin-bottom: @gap-vertical;
    }

    h1 {
        margin: 0;
        padding: 0 @gap-horizontal;
        font-weight: 100;
        font-size: 3em;
    }

    h2 {
        margin: 0;
        padding: 0 @gap-horizontal;
        font-weight: 100;
        font-size: xx-large;
    }

    p {
        margin-left: @gap-horizontal;
        margin-right: @gap-horizontal;
    }
}
