//
// Dakara Project
//
// Position in playlist song status style file
//

@use '~/abstracts/support';

.song-status.position-in-playlist {
  .position {
    display: flex;
    flex-direction: column;
  }

  &:not(.expanded) {
    .position {
      @include support.make-smartphone {
        column-gap: 0.25em;
        flex-direction: row;
      }
    }
  }

  .icon {
    font-size: 1em;
  }

  .date {
    font-size: x-small;
    text-align: center;
  }

  // adjustments to user widget in message
  .user-widget {
    display: inline;

    .icon {
      margin-right: 0.25em;
      width: unset;
    }
  }
}
