//
// Dakara Project
//
// Error page style file
//

@use '~/abstracts/colors';
@use '~/abstracts/sizes';

#error-page {
  .url {
    @include sizes.make-gap(padding, horizontal);

    & {
      background: colors.$danger-200;
      display: inline-block;
      font-size: 1.1em;
      line-height: 1.5em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
