//
// Dakara Project
//
// Error page style file
//

#error-page {
    .url {
        display: inline-block;
        font-size: 1.1em;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1em;
        line-height: 1.5em;
        background: $brand-danger;
        color: $brand-danger-darker;
        @include make-gap(padding, horizontal);

        &::selection {
                background: $brand-danger-darker;
                color: $brand-danger;
        }
    }
}
