//
// Dakara Project
//
// Error page style file
//

@use "style/base/sizes";
@use "style/base/colors";

#error-page {
    .url {
        @include sizes.make-gap(padding, horizontal);

        background: colors.$brand-danger;
        color: colors.$brand-danger-darker;
        display: inline-block;
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;

        &::selection {
            background: colors.$brand-danger-darker;
            color: colors.$brand-danger;
        }
    }
}
