//
// Dakara Project
//
// Box style file
//


// box sizes
@box-header-h1-height: 6rem + 2 * @gap-vertical;
@box-header-h2-height: 4rem + 2 * @gap-vertical;


// `box` class:
//
// This class is aimed to style a generic box container in the layout. The box
// has a header of class `box-header`, a footer of class `box-footer` and a
// content.
.box {
    background: darken(@black-80, 5%);
    // box-shadow: 0 0 2rem fade(black, 50%);
    // box-shadow: 0 0 2rem red;
    overflow: hidden;
    margin-bottom: @gap-vertical;

    .box-header {
        padding: @gap-vertical 0;
        background: @brand-primary-darker;
        color: @brand-primary-light;

        h1 {
            padding: 0 @gap-horizontal;
            font-size: 3em;
            height: 6rem;
        }

        h2 {
            padding: 0 @gap-horizontal;
            font-size: 2em;
            height: 4rem; // TODO not sure
        }
    }

    .box-footer {
        padding: @gap-vertical 0;
        background: @brand-primary-darker;
        color: @brand-primary-light;
    }

    p {
        margin-left: @gap-horizontal;
        margin-right: @gap-horizontal;
    }
}
