//
// Dakara Project
//
// Navigator style file
//


// navigatr sizes
@navigator-height: @row-height;


// `navigator` class:
//
// The paginator supplies the interface to change page and display count.
.navigator {
    background: @brand-primary-darker;
    display: flex;

    .paginator {
        &.controls {
            .make-controls(@navigator-height, 2em);
        }
    }

    .counter {
        padding: 0 @gap-horizontal;
        color: @brand-primary;
        flex: 1;
        text-align: right;

        .figure {
            display: inline-block;
            font-weight: 100;
            font-size: 2.5em;
            vertical-align: middle;
            line-height: @navigator-height;
        }

        .text {
            margin-left: 0.4em;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
