//
// Dakara Project
//
// Navigator style file
//


// navigatr sizes
@navigator-height: @row-height;


// `navigator` class:
//
// The paginator supplies the interface to change page and display count.
.navigator {
    background: @brand-primary-darker;
    display: flex;
    min-height: @navigator-height;

    .paginator {
        &.controls {
            .make-controls(@navigator-height, 2em);
        }
    }

    .counter {
        display: flex;
        padding: 0 @gap-horizontal;
        color: @brand-primary;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        text-align: right;

        .figure {
            font-weight: 100;
            font-size: 2.5em;
        }

        .text {
            margin-left: 0.4em;
            .text-truncate();
        }

        .make-smartphone({
            @ratio: 0.6;
            @factor: 0.8;
            padding: 0 @gap-horizontal-smartphone;
            flex-direction: column;
            align-items: initial;
            justify-content: center;

            .figure {
                font-size: 2em;
                line-height: @ratio * @navigator-height * @factor;
            }

            .text {
                margin-left: 0;
                font-size: 0.85em;
                line-height: (1 - @ratio) * @navigator-height * @factor;
            }
        });
    }
}
