//
// Dakara Project
//
// Tags style file
//


// `tag` class:
//
// The `tag` class is a basic style for tags in musics. It can be extended with 8
// different colorized subclasses.
//
// Its size is determined in the `listing-entry-song` class, whether the song is
// displayed in compact or in expanded view.
.tag {
    .make-font();
    @color: hsl(0, @custom-color-saturation, @custom-color-luminosity);
    border: none;
    outline: none;
    padding: 0 @gap-horizontal;
    display: inline-block;
    color: fade(@text-dark, 50%);
    font-weight: 700;
    font-size: medium;
    background-color: @color;

    &.clickable {
        cursor: pointer;

        .icon {
            margin-right: 0.5em;
            font-size: 1.2em;
        }

        &:hover,
        &:focus {
            background-color: lighten(@color, 5%);
        }
    }

    &.disabled {
        opacity: 0.5;
        background-color: desaturate(@color, 33%);
    }

}
