//
// Dakara Project
//
// Error page style file
//

#error-page {
    background: @brand-danger-darker;
    padding-bottom: @gap-vertical;
    color: @brand-danger;

    .box-header {
        background: transparent;
        color: inherit;
    }

    .url {
        display: inline-block;
        font-size: 1.1em;
        margin-right: 0;
        margin-left: 0;
        padding: 0 @gap-horizontal;
        line-height: 1.5em;
        background: @brand-danger;
        color: @brand-danger-darker;
    }

    * {
        .selection() {
            background: @brand-danger;
        }

        &::-moz-selection {
            .selection;
        }

        &::selection {
            .selection;
        }
    }
}
