//
// Dakara Project
//
// Error page style file
//

#error-page {
    background: @brand-danger-darker;
    color: @brand-danger;
    .make-gap(padding, bottom);

    .box-header {
        .make-gap(padding, vertical);
        background: transparent;
        color: inherit;

        h2 {
            font-size: 2em;
            .make-gap(padding, horizontal);
        }
    }

    .url {
        display: inline-block;
        font-size: 1.1em;
        margin-right: 0;
        margin-left: 0;
        line-height: 1.5em;
        background: @brand-danger;
        color: @brand-danger-darker;
        .make-gap(padding, horizontal);
    }

    ::selection {
        background: @brand-danger;
    }
}
