//
// Dakara Project
//
// Footer style file
//


footer {
    padding: @gap-vertical @gap-horizontal;
    background: @black-80;
    text-align: right;

    h2 {
        margin: 0;
        font-size: 1.25em;
        font-weight: 300;
    }
}
