//
// Dakara Project
//
// Footer style file
//

footer {
    margin-top: @gap-vertical;
    padding: @gap-vertical @gap-horizontal;
    background: @black-80;
    text-align: right;

    h2 {
        margin: 0;
        font-size: 15pt;
        font-weight: 300;
    }
}
