//
// Dakara project
//
// Library style file
//

#library {

    // Query box for searching items depending on the page
    // That is, songs for Songs library, artists for Artists library and works
    // (anime, game...) for Works library
    .library-searchbox {
        display: flex;
        padding: @gap-vertical 0;
        background: @brand-primary-darker;

        .field {
            flex: 1;
            padding-right: @gap-horizontal;

            .fake-input {
                display: flex;
                width: 100%;
                border: none;
                background: @neutral-soft;
                color: @text-dark;
                height: @library-searchbox-height;
                padding: 0 0 0 @gap-horizontal;
                box-sizing: border-box;

                &:hover {
                    background: @neutral-soft-lighter;
                }

                .real-input {
                    color: inherit;
                    flex: 1;
                    .placeholder(@black-80);
                    background: none;
                    border: none;
                    outline: none;
                    height: @library-searchbox-height;

                    &::-moz-placeholder {
                        opacity: 1;
                    }
                }

                .controls {
                    .make-controls(@library-searchbox-height, 15pt);

                    .clear {
                    }
                }
            }
        }

        .controls {
            .make-controls(@library-searchbox-height, 20pt);

            .search {
            }
        }
    }

    // Library navigator which handles the paginaton and the counter of songs
    // displayed
    .library-navigator {
        background: @brand-primary-darker;
        display: flex;

        .counter {
            padding: 0 @gap-horizontal;
            color: @brand-primary;
            flex: 1;
            text-align: right;

            .figure {
                display: inline-block;
                font-weight: 100;
                font-size: 30pt;
                vertical-align: middle;
                line-height: @paginator-height;
            }

            .text {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    // Here goes the styles for the library pages
    // These pages are:
    //     Songs library,
    //     Artists library,
    //     Works library (and all the different works, like Anime, Game...)
    // The current class gathers all the common elements needed by the different pages
    .library-entries {
        &.listing {
            min-height: 10 * @listing-entry-height;
        }
    }

    // Navigator for choosing which library to display
    // The different libraries are Songs (which is the home library), Artists and all the
    // different Works (animes, games...)
    .library-chooser {
        display: flex;

        // This is a common library tab, it has to be of neutral color
        .tab {
            flex: 1;
            height: @library-chooser-height;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.active {
                cursor: default;
                background: @neutral-clear;
                color: @neutral-mid;
            }

            background: @neutral-mid;

            &:nth-child(2n) {
                background: @neutral-mid-light;
            }

            &:hover:not(.active),
            &:focus:not(.active) {
                background: @neutral-mid-lighter;
            }

            .icon {
                font-size: @library-chooser-icon-font-size;
            }

            .name {
                margin-left: 0.5em;
            }

            .icon, .name {
                display: inline-block;
            }

            // This is the home library tab, it has to stand out even when not
            // selected, but not too much
            &.home {
                width: @library-chooser-height;
                flex: initial;

                .tab-icon {
                    font-size: @library-chooser-icon-font-size-home;
                }
            }
        }
    }
}
