//
// Dakara Project
//
// Song library entry style file
//


// `library-entry-song` subclass:
//
// This class is a specialization of the `listing-entry` class defined in the
// `listing` module. It is aimed to stylize the specific elements of a list of
// songs.
//
// The song can be represented in a compact, one-line view or in an expanded,
// multi-lines view. More elements are present in the expanded view, which takes
// usually more space and have larger margins compared to the compact view. The
// compact view stays even if the expandes view is displayed, it only contains
// less elements. The expanded view has a appearance/disappearance animation
// where the expanded line grows or shrink vertically from the top.
//
// This list entry is not hoverizable, in order to make only the compact view
// react to hover.
.library-entry.library-entry-song {

    // song compact view
    // this class must be used with the `hoverizable` subclass
    .library-entry-song-compact {
        display: flex;

        .library-entry-song-display {
            flex: 1;
            display: flex;

            .library-entry-song-preview {
                flex: 1;
                display: flex;
                align-items: center;
                padding-left: @gap-horizontal;
                position: relative;
                overflow-y: hidden;
                cursor: pointer;
                height: @listing-entry-height;

                .header {
                    flex: 1;
                    .text-truncate();

                    // this is a hack
                    width: 0;

                    .title {
                        font-size: 1.05em;
                    }

                    .version {
                        margin-left: 0.5em;
                        opacity: 0.65;
                    }
                }

                .song-preview-details {
                    margin-right: @gap-horizontal;
                    align-items: flex-end;
                }

                .song-tag-list {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 0.6em;
                    line-height: 1em;
                }
            }

            // class for song duration
            .duration {
                font-size: 0.85em;
                line-height: @listing-entry-height;
                width: @listing-entry-height;
                background: @text-light;
                color: @neutral-mid;
                text-align: center;
            }
        }

        // class for data relative to the status of the song in the playlist
        .playlist-info {
            background: @brand-info;
            color: @text-dark;
            text-align: center;
            display: flex;
            align-items: center;

            .queueing {
                min-width: (2 * @listing-entry-height);

                .icon {
                    padding-right: 0.5em;
                }
            }

            .playing {
                width: @listing-entry-height;
            }

            // appearance transition of the playlist info class
            .playlist-info-enter {
                max-width: 0;
                overflow: hidden;

                &.playlist-info-enter-active {
                    max-width: (2 * @listing-entry-height);
                    .transition(max-width 300ms ease-out);
                }
            }

            // disappearance transition of the playlist info class
            .playlist-info-leave {
                max-width: (2 * @listing-entry-height);
                overflow: hidden;

                &.playlist-info-leave-active {
                    max-width: 0;
                    .transition(max-width 150ms ease-out);
                }
            }
        }

        // hover of the compact view
        &:hover,
        &:focus {
            .library-entry-song-display .duration {
                background: @neutral-clear-lighter;
            }

            .playlist-info {
                background: @brand-info-lighter;
            }
        }
    }

    // alternatiion of the compact view
    &:nth-child(2n) {
        .library-entry-song-display .duration {
            background: @neutral-clear-light;
        }

        .playlist-info {
            background: @brand-info-light;
        }
    }

    // song expanded view
    // should not be used with the `hoverized` subclass
    .library-entry-song-expanded-details {
        @height: @sublisting-entry-height;
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 @gap-vertical;

        .expanded-item {
            display: table-row;

            &:not(:last-child) {
                padding-bottom: 0.5 * @gap-vertical;
            }

            .header {
                display: table-cell;
                padding: 0 @gap-horizontal;
                font-weight: normal;
                white-space: nowrap;
                vertical-align: top;

                .icon {
                }

                .name {
                   padding-left: 0.5em; 
                   line-height: @height;
                }
            }

            .text, .song-tag-list {
                background: darken(@neutral-mid, 2%);
            }

            .text {
                padding: 0 @gap-horizontal;
                line-height: @height;
            }

            .song-tag-list {
                line-height: @height;
            }
        }

        .artists {
            .artist {
                flex: 1;
                padding: 0 @gap-horizontal;
            }
        }

        .works {
            .work-display {
                flex: 1;
                padding: 0 @gap-horizontal;

                .link {
                    font-size: 0.81em;
                }
            }
        }
    }

    .library-entry-song-expanded-subcontainer {
        // appearance transition of the expanded view
        &.expand-view-enter {
            overflow: hidden;
            max-height: 0;

            &.expand-view-enter-active {
                max-height: 10 * 0.75 * @listing-entry-height;
                .transition(max-height 600ms ease-out);
            }
        }

        // disappearance transition of the expanded view
        &.expand-view-leave {
            overflow: hidden;
            max-height: 10 * 0.75 * @listing-entry-height;

            &.expand-view-leave-active {
                max-height: 0;
                .transition(max-height 300ms ease-out);
            }
        }
    }
}
