/**
 * Dakara project
 *
 * Login page style file
 */

#login-page {
    background: @brand-primary-darker;
    color: @brand-primary;
    margin-top: @gap-vertical;

    .page-head {
        display: flex;

        > * {
            height: @listing-entry-height;
            line-height: @listing-entry-height;
        }

        h2 {
            margin: @gap-vertical @gap-horizontal;
            font-weight: 100;
            font-size: 20pt;
        }

        .message {
            flex: 1;
            margin: @gap-vertical 0;
            position: relative;
            overflow: hidden;

            .notified {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;

                &.notified-enter {
                    left: 100%;

                    &.notified-enter-active {
                        left: 0;
                        .transition(left 300ms ease-out);
                    }
                }

                &.notified-leave {
                    left: 0;

                    &.notified-leave-active {
                        left: 100%;
                        .transition(left 150ms ease-out);
                    }
                }

                .notification {
                    .text-truncate();
                }
            }
        }

    }


    .login-form {

        .field-row {
            display: flex;
            padding-bottom: @gap-vertical;

            input {
                flex: 1;
                padding-left: @gap-horizontal;
                border: none;
                outline: none;
                background: @neutral-soft;
                color: @text-dark;
                height: @library-searchbox-height;
                margin: 0 0 0 @gap-horizontal;
                box-sizing: border-box;
                .placeholder(@black-80);

                &:hover,
                &:focus {
                    background: @neutral-soft-lighter;
                }
            }

            .icon-box {
                .square(@library-searchbox-height);
                line-height: @library-searchbox-height;
                text-align: center;
                color: @text-dark;
                background: @brand-primary-dark;
                font-size: 17pt;
            }
        }

        .controls {
                padding-bottom: @gap-vertical;
                width: 100%;

            .control {
                height: @library-searchbox-height;
                width: 100%;
                font-size: 12pt;
            }
        }
    }
}
