//
// Dakara Project
//
// Main div style file
//

#main {
    .center-block();
    max-width: @page-width;

    // we use flexbox to easily push the footer on the bottom of the screen
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


#content {
    flex: 1;
}
