//
// Dakara Project
//
// Player style file
//


#player {
    background: @brand-primary-darker;

    // The main part of the player displays the current song, its numerical
    // progression and the controls of the player.
    .display {
        display: flex;
        align-items: center;
        padding: @gap-vertical 0;
        @player-controls-height: 70px;

        .controls {
            .make-controls(@player-controls-height, 20pt);
        }

        .song {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            color: @brand-primary;
            margin-left: @gap-horizontal;
            position: relative;
            overflow: hidden;


            .song-preview {
                padding-right: @gap-horizontal;
                flex: 1;
                height: @player-controls-height;
                display: flex;
                flex-direction: column;

                .header {
                        font-size: 18pt;
                        font-weight: 300;
                    .title {
                    }

                    .subtitle {
                        opacity: 0.65;
                    }
                }

                .song-preview-details {
                    .link {
                        border-color: shade(@brand-primary, 25%);
                    }
                }
            }

            .song-timing {
                @ratio: 0.8;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: @gap-horizontal;
                @player-status-height: 1 * @player-controls-height;

                .current {
                    font-size: @player-status-height * @ratio;
                    font-weight: 100;
                    line-height: @player-status-height * @ratio;
                }

                .duration {
                    font-size: @player-status-height * (1 - @ratio);
                    line-height: @player-status-height * (1 - @ratio);
                    text-align: right;
                }
            }

            .notified {
                position: absolute;
                width: 100%;
                line-height: @player-controls-height;
                height: @player-controls-height;
                top: 0;
                left: 0;

                .notification {
                    .text-truncate();
                }

                // appearance transition
                &.notified-enter {
                    left: 100%;

                    &.notified-enter-active {
                        left: 0;
                        .transition(left 300ms ease-out);
                    }
                }

                // disappearance transition
                &.notified-leave {
                    left: 0;

                    &.notified-leave-active {
                        left: 100%;
                        .transition(left 150ms ease-out);
                    }
                }
            }
        }
    }

    // The progressbar is a supplementary visual indicator of the song
    // progression.
    .progressbar {
        width: 100%;
        height: 4px;

        .progress {
            height: 100%;
            background: @brand-primary-dark;
        }
    }
}
