//
// Dakara Project
//
// Song preview details style file
//


// `song-preview-details` class
//
// This class is used by `listing-entry-song` and …. It is aimed to stylize the
// details of a song when it is displayed in a compact form.
//
// It contains a list of artists and works in a linear form.
.song-preview-details {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;

    .artists {
        .artist:not(:last-child)::after {
            content: ", ";
        }
    }

    .work-display {
        .link-content {
            border-color: @black-70;
        }
    }
}

