//
// Dakara Project
//
// Player style file
//

@use 'sass:color';

@use '~/thirdparty/preboot';

@use '~/abstracts/colors';
@use '~/abstracts/controls';
@use '~/abstracts/sizes';
@use '~/abstracts/support';

// player sizes
$player-controls-height: 6rem;
$player-controls-height-smartphone: sizes.$row-height;
$player-timing-height: 5.5rem;
$player-progressbar-height: 0.4rem;

// `player` id:
//
// This component stylizes the player, containing controls, song info and a
// progression bar.
#player {
  position: sticky;
  top: 0;
  z-index: 1000;

  &:has(> .controls) {
    top: -$player-controls-height - sizes.$gap-vertical;

    @include support.make-smartphone {
      top: -$player-controls-height-smartphone - sizes.$gap-vertical-smartphone;
    }
  }

  .transition {
    &.collapse-vertical-enter.collapse-vertical-enter-active,
    &.collapse-vertical-exit:not(.collapse-vertical-exit-active) {
      max-height: $player-controls-height + sizes.$gap-vertical;

      @include support.make-smartphone {
        max-height: $player-controls-height-smartphone +
          sizes.$gap-vertical-smartphone;
      }
    }
  }

  // `controls` class: buttons to send commands to the player.
  .controls.player {
    @include sizes.make-gap(margin, bottom);
    @include controls.make-controls($player-controls-height);
    @include support.make-smartphone {
      @include controls.make-controls(
        $player-controls-height-smartphone,
        $icon-size: 1.1em
      );
    }

    & {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }

  // `progressbar` class: visual indicator of the song progression.
  .progressbar {
    // reset default style
    appearance: none;
    border-style: none;
    display: block;
    height: $player-progressbar-height;
    width: 100%;

    @mixin make-progress-bar {
      & {
        @content;
      }

      &::-webkit-progress-bar {
        @content;
      }
    }

    @mixin make-progress-value {
      &::-moz-progress-bar {
        @content;
      }

      &::-webkit-progress-value {
        @content;
      }
    }

    &.primary {
      @include make-progress-value {
        background: colors.$primary-300;
      }

      @include make-progress-bar {
        background: colors.$primary-100;
      }
    }

    &.danger {
      @include make-progress-value {
        background: colors.$danger-300;
      }

      @include make-progress-bar {
        background: colors.$danger-100;
      }
    }

    &:indeterminate {
      &.primary {
        @include make-progress-bar {
          animation: sliding-animation 1s linear infinite;
          background: repeating-linear-gradient(
            -45deg,
            colors.$primary-300,
            colors.$primary-300 2rem,
            colors.$primary-100 2rem,
            colors.$primary-100 4rem
          );
        }
      }

      &.danger {
        @include make-progress-bar {
          animation: sliding-animation 1s linear infinite;
          background: repeating-linear-gradient(
            -45deg,
            colors.$danger-300,
            colors.$danger-300 2rem,
            colors.$danger-100 2rem,
            colors.$danger-100 4rem
          );
        }
      }

      @keyframes sliding-animation {
        to {
          background-position-x: 1.41421356 * 4rem;
        }
      }

      // firefox considers that the value is at 100%
      &::-moz-progress-bar {
        background: transparent;
      }
    }
  }

  .server-lost {
    @include sizes.make-gap(padding, all);

    & {
      align-items: center;
      display: flex;
      position: sticky;
      top: 0;
      z-index: 1100;
    }

    .pending {
      font-size: 3em;
      line-height: 0.5em;
      margin-left: auto;

      .point {
        animation: animation-ellipsis 1s steps(3, start) infinite;

        &:nth-child(2) {
          animation-delay: 0.1s;
        }

        &:nth-child(3) {
          animation-delay: 0.2s;
        }

        @keyframes animation-ellipsis {
          to {
            visibility: hidden;
          }
        }
      }
    }
  }

  .playlist-entry-widget {
    display: flex;
    flex-flow: row wrap;

    .song-widget {
      flex-flow: row wrap;
      width: 100%;

      .titling {
        align-items: baseline;
        width: 100%;

        .title {
          font-size: 3rem;
          font-weight: 200;

          @include support.make-smartphone {
            font-size: 2.2rem;
            font-weight: 300;
          }
        }
      }

      > .relations {
        flex-direction: column;

        .link {
          border-color: color.change(colors.$primary-400, $alpha: 0.75);
        }
      }
    }

    .relative-date .date {
      @include preboot.text-truncate();
    }
  }

  .carousel {
    @include sizes.make-gap(padding, vertical);

    & {
      position: sticky;
      top: 0;
      z-index: 1100;
    }

    .carousel-entry {
      // approximatively 1 title and 2 lines
      min-height: calc(3rem + 2em);

      @include support.make-smartphone {
        min-height: calc(2.2rem + 2em);
      }

      .to-song {
        overflow: hidden;
      }

      .current-song {
        display: flex;
        overflow: hidden;

        .timing {
          // shrink the timing class element first when resizing, up to
          // the width of the duration (4 digits plus one colon)
          font-feature-settings: 'tnum';
          margin-left: auto;
          min-width: max-content;
          overflow: hidden;
          text-align: right;

          @mixin make-timing($factor) {
            font-size: $player-timing-height * $factor;
            line-height: $player-timing-height * $factor;

            @include support.make-smartphone {
              font-size: $player-timing-height * $factor * 0.7;
              line-height: $player-timing-height * $factor * 0.7;
            }
          }

          .current {
            font-weight: 200;

            @include make-timing(0.7);
          }

          .duration {
            letter-spacing: 0.25rem;

            @include make-timing(0.3);
          }
        }
      }

      .next-song {
        overflow: hidden;

        .playlist-entry-widget {
          justify-content: end;

          .titling {
            justify-content: end;
          }
        }
      }

      .stats {
        ul {
          list-style-type: none;
          overflow: hidden;
          padding: 0;
        }

        li {
          @include preboot.text-truncate();

          line-height: 2rem;
        }

        q {
          font-size: 2rem;
          font-weight: 200;

          @include support.make-smartphone {
            font-size: 1.7rem;
            font-weight: 300;
          }

          &::after,
          &::before {
            content: '';
          }
        }
      }
    }
  }

  &.primary .carousel-entry a {
    &:hover:not(:focus) {
      color: colors.$primary-402;
    }

    &:focus {
      color: colors.$primary-403;
    }
  }
}
